@import 'mixins';

.large-font {
  font-size: 2em;
}
.bolder {
  font-weight: bold;
}

.li-hyphen li {
  list-style-type: none;
  &:before {
    content: '— ';
  }
}

.table-fixed {
  table-layout: fixed;
  @include center-content();
  &:after {
    display: block;
    content: '* - рекомендована інтенсивність вправ';
    width: 200%;
  }
}

.li-decimal {
  list-style-type: decimal;
}

.table-centered {
  @include center-content();
}

.medium-font {
  font-size: 1.5em;
}

.danger-state {
  background: #DD161D;
}

.low-danger-state {
  background: #F24F04;
}

.low-success-state {
  background: #EAB300;
}

.success-state {
  background: #84DB20;
}

.higher-success {
  background: #10891F;
}