@import 'mixins';

.large-font {
  font-size: 2em;
}
.bolder {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.li-hyphen li {
  list-style-type: none;
  &:before {
    content: '— ';
  }
}
.italic {
  font-style: italic;
}

.li-decimal {
  list-style-type: decimal;
}

.table-centered {
  @include center-content();
}

.medium-font {
  font-size: 1.5em;
}

.danger-state {
  background: #DD161D;
}

.low-danger-state {
  background: #F24F04;
}

.low-success-state {
  background: #EAB300;
}

.success-state {
  background: #84DB20;
}

.higher-success {
  background: #10891F;
}