.large-font {
  font-size: 2em;
}

.medium-font {
  font-size: 1.5em;
}

.danger-state {
  background: #DD161D;
}

.low-danger-state {
  background: #F24F04;
}

.low-success-state {
  background: #EAB300;
}

.success-state {
  background: #84DB20;
}

.higher-success {
  background: #10891F;
}