@import 'variables';
@import 'mixins';
@import 'spinner';
@import 'keyframes';

@include keyframes(slidedown) {
  from {
    margin-top: -15%;
  }
  to {
    margin-top: 0;
  }
}

@include keyframes(fadein) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}

.slide-down {
  @include animation(slidedown, 0.8s);
}

.fade-in {
  @include animation(fadein, 0.8s);
}

.glyphicon-folder-open {
  transform: rotate(90deg);
}

section.row {
  margin: 15% auto;
  .fade-in > a {
    box-shadow: 2px 2px 0 #888;
    border: 1px solid #000;
    min-width: 100px;
    border-radius: 5%;
    cursor: pointer;
    height: 150px;
    margin: 4%;
    &:hover {
      box-shadow: 1px 1px 20px $green;
    }
  }
  .profile-fields {
    & > input {
      margin-top: 1em;
    }
  }

  .body-index {
    ul.nav-stacked {
      min-width: 200px;
    }
    fieldset {
      margin: 2em auto;
      input {
        margin-bottom: 1em !important;
      }
    }
    table {
      tr {
        td, th {
          vertical-align: middle;
          text-align: center;
        }
      }
    }

  }

  .phys-state-form {
    .form-control {
      margin-bottom: 1em;
    }
  }
  aside {
    .nav-stacked {
      border: 1px solid lightgrey;
      border-radius: 5px;
      padding: 1em;
      li {
        &:last-child a {
          border-bottom: none;
        }
        a {
          border: none;
          border-bottom: 1px solid lightgrey;
          &:hover {
            background: #337ab7;
            cursor: pointer;
            color: #fff;
          }
        }
      }
    }
  }
}

.flash-message {
  white-space: nowrap;
  position: absolute;

  &.notify {
    @include animation(notifier, 6s);
  }

  &.alert-danger strong:before {
    content: 'Ошибка!';
  }
  &.alert-warning strong:before {
    content: 'Прудпреждение!';
  }
  &.alert-success strong:before {
    content: 'Обновлено!';
  }
  &.alert-info strong:before {
    content: 'К сведению!';
  }

  left: 35vw;
  top: -10vh;
}