@mixin keyframes ($animationName) {
  @-webkit-keyframes #{$animationName} {
      @content;
  }

  @-moz-keyframes #{$animationName} {
      @content;
  }

  @-o-keyframes #{$animationName} {
      @content;
  }

  @keyframes #{$animationName} {
      @content;
  }
}

@mixin user-select($property) {
  -webkit-user-select: $property;
  -moz-user-select: $property;
  -o-user-select: $property;
  user-select: $property;
}

@mixin animation ($animation, $time) {
  -webkit-animation: $animation $time;
  -moz-animation: $animation $time;
  -o-animation: $animation $time;
  animation: $animation $time;
}
@mixin center-content {
  tr {
    td, th {
      vertical-align: middle !important;
      text-align: center !important;
    }
  }
}
@mixin centered-table-content() {
  table {
   @include center-content;
  }
}

@mixin first-column-width($width) {
  table {
    td:first-child {
      width: $width;
    }
  }
}