<template id="complex-self-improving">
    <section class="complex-self-improving lead">
        <article>
            <h3>Комплекс загально-розвиваючих вправ</h3>

            <ol>
                <li>
                    Вихідне положення &ndash; основна стійка.
                    <p>&nbsp; &nbsp; &nbsp; 1- стійка на носках, руки дугами назовні вгору.</p>
                    <p>&nbsp; &nbsp; &nbsp; 2- опускаючись на всю ступню, руки дугами назовні i в.п.</p>
                    <p>&nbsp; &nbsp; &nbsp; 3-4 - те ж.</p>
                    <p>Повторити вправу 4-8 разів.</p>
                </li>

                <li>
                    Вихідне положення - основна стійка, руки назад, пальцi з&rsquo;єднанi.
                    <p>&nbsp; &nbsp; &nbsp; 1 - стійка на носках, руки &nbsp;назад вгору.</p>
                    <p>&nbsp; &nbsp; &nbsp; 2 - в.п.</p>
                    <p>&nbsp; &nbsp; &nbsp; 3-4 - те ж.</p>
                    <p>Повторити вправу 4-8 разів.</p>
                </li>

                <li>
                    Вихідне положення - стiйка ноги нарізно, руки на поясi.
                    <p>&nbsp; &nbsp; &nbsp; 1 - зiгнути лiву на носок.</p>
                    <p>&nbsp; &nbsp; &nbsp; 2 - в.п.</p>
                    <p>&nbsp; &nbsp; &nbsp; 3-4 - те ж правою ногою. </p>
                    <p>&nbsp;Повторити вправу 6-8 разів.</p>
                </li>

                <li>
                    Вихідне положення - стiйка ноги нарiзно.
                    <p>&nbsp; &nbsp; &nbsp; 1 - присiд, руки в сторони.</p>
                    <p>&nbsp; &nbsp; &nbsp; 2 - в.п.</p>
                    <p>&nbsp; &nbsp; &nbsp; 3-4 - те ж.</p>
                    <p>Повторити вправу 4-8 разів.</p>
                </li>

                <li>Вихідне положення &ndash; основна стійка.
                    <p>&nbsp; &nbsp; &nbsp; 1 - присiд.</p>
                    <p>&nbsp; &nbsp; &nbsp; 2 - упор стоячи зігнувшись.</p>
                    <p>&nbsp; &nbsp; &nbsp; 3 - присiд.</p>
                    <p>&nbsp; &nbsp; &nbsp; 4 - в.п.</p>
                    <p>Повторити вправу 8 разів.</p>
                </li>

                <li>
                    Вихідне положення - стiйка ноги нарiзно, руки на поясi.
                    <p>&nbsp; &nbsp; &nbsp; 1-3 - пружнi нахили тулуба влiво.</p>
                    <p>&nbsp; &nbsp; &nbsp; 4 - в.п.</p>
                    <p>&nbsp; &nbsp; &nbsp; 5-8 -те ж вправо.</p>
                    <p>Повторити вправу 4-8 разів.</p>
                </li>

                <li>
                    Вихідне положення - упор лежачи.
                    <p>&nbsp; &nbsp; &nbsp; 1 - зiгнути руки, повернути голову влiво.</p>
                    <p>&nbsp; &nbsp; &nbsp; 2 - в.п.</p>
                    <p>&nbsp; &nbsp; &nbsp; 3-4 - те ж вправо.</p>
                    <p>Повторити вправу 4-8 разів.</p>
                </li>

                <li>
                    Вихідне положення - лежачи на спинi, руки навхрест на грудях.
                    <p>&nbsp; &nbsp; &nbsp; 1 - пiдняти голову i верхню частину тулуба, не вiдриваючи поперек вiд &nbsp; &nbsp;підлоги.</p>
                    <p>&nbsp; &nbsp; &nbsp; 2 - в.п.</p>
                    <p>&nbsp; &nbsp; &nbsp; 3 - пiдняти ноги до прямого кута.</p>
                    <p>&nbsp; &nbsp; &nbsp; 4 - в.п.</p>
                    <p>Повторити вправу 4 рази.</p>
                </li>

                <li>
                    Вихідне положення &ndash; основна стійка.
                    <p>&nbsp; &nbsp; &nbsp; 1 - мах лiвою вперед, руки назад.</p>
                    <p>&nbsp; &nbsp; &nbsp; 2 - мах лiвою назад, руки вгору.</p>
                    <p>&nbsp; &nbsp; &nbsp; 3 - мах лiвою вперед, руки назад.</p>
                    <p>&nbsp; &nbsp; &nbsp; 4 - в.п.</p>
                    <p>&nbsp; 5-8 &ndash; те ж правою ногою.</p>
                    <p>Повторити вправу 4-6 разів.</p>
                </li>

                <li>
                    Вихідне положення &ndash; основна стійка, руки внизу схрещені.
                    <p>&nbsp; &nbsp; &nbsp; 1 - мах лiвою в сторону, руки в сторони.</p>
                    <p>&nbsp; &nbsp; &nbsp; 2 - в.п.</p>
                    <p>&nbsp; &nbsp; &nbsp; 3-4 - те ж правою ногою.</p>
                    <p>Повторити вправу 4-8 разів.</p>
                </li>

                <li>
                    Вихідне положення - лiву в сторону на носок, руки на поясі.
                    <p>&nbsp; &nbsp; &nbsp; &nbsp; 1-16 - стрибки з ноги на ногу, приземлення на одному i тому ж мiсцi.</p>
                    <p>Повторити вправу 2 рази.</p>
                </li>
            </ol>

            <h3>Комплекс загально-розвиваючих вправ для &nbsp;рук</h3>

            <ol>
                <li>
                    Вихідне положення &ndash; основна стійка.
                    <p>&nbsp; &nbsp; &nbsp; 1-2 - крок лiвою вперед, руки вгору;</p>
                    <p>&nbsp; &nbsp; &nbsp; 3-4 - в.п.</p>
                    <p>&nbsp; &nbsp; &nbsp; 5-6 - те ж &nbsp;з правою ногою.</p>
                    <p>Повторити вправу 4-8 разів.</p>
                </li>

                <li>
                    Вихідне положення - стійка ноги нарiзно, руки на поясі.
                    <p>&nbsp; &nbsp; &nbsp; 1-2 - два пружинячих нахила вправо, лiву руку вгору.</p>
                    <p>&nbsp; &nbsp; &nbsp; 3-4 - в.п.</p>
                    <p>&nbsp; &nbsp; &nbsp; 5-8- &nbsp;те ж в другу сторону.</p>
                    <p>Повторити вправу 6-8 разів.</p>
                </li>

                <li>
                    <p>3. Вихідне положення - руки вперед.
                    <p>&nbsp; &nbsp; &nbsp; 1 - коло руками до низу.</p>
                    <p>&nbsp; &nbsp; &nbsp; 2 - нахил вперед, торкнутися руками пiдлоги.</p>
                    <p>&nbsp; &nbsp; &nbsp; З - не розгинаючись, ривком руки назад.</p>
                    <p>&nbsp; &nbsp; &nbsp; 4 - в.п.</p>
                    <p>Повторити вправу 4-8 разів.</p>
                </li>

                <li>
                    Вихідне положення - упор сидячи ззаду.
                    <p>&nbsp; &nbsp; &nbsp; 1-2 - упор лежачи ззаду.</p>
                    <p>&nbsp; &nbsp; &nbsp; 3-4 - в.п.</p>
                    <p>Повторити вправу 4 рази.</p>
                </li>

                <li>
                    Вихідне положення - упор лежачи на зiгнутих руках.
                    <p>&nbsp; &nbsp; &nbsp; 1 - упор лежачи на стегнах.</p>
                    <p>&nbsp; &nbsp; &nbsp; 2 - упор лежачи.</p>
                    <p>&nbsp; &nbsp; &nbsp; 3-4 - в.п.</p>
                    <p>Повторити вправу 4-8 разів.</p>
                </li>

                <li>
                    Вихідне положення - упор лежачи.
                    <p>&nbsp; &nbsp; &nbsp; 1 - зiгнути руки, лiву назад.</p>
                    <p>&nbsp; &nbsp; &nbsp; 2 - в.п.</p>
                    <p>&nbsp; &nbsp; &nbsp; 3-4 - те ж правою ногою.</p>
                    <p>Повторити вправу 4-8 разів.</p>
                </li>

                <li>
                    Вихідне положення - упор лежачи, лiва рука зiгнута, права в сторону пряма.
                    <p>&nbsp; &nbsp; &nbsp; 1-2 - розгинаючи лiву руку, зiгнути праву ногу.</p>
                    <p>&nbsp; &nbsp; &nbsp; 3-4 - те ж в другу сторону.</p>
                    <p>Повторити вправу 4 рази.</p>
                </li>

                <li>
                    Вихідне положення - руки в сторони.
                    <p>&nbsp; &nbsp; &nbsp; 1 - мах правою вперед, хлопок в долонi пiд ногою.</p>
                    <p>&nbsp; &nbsp; &nbsp; 2 - в.п.</p>
                    <p>&nbsp; &nbsp; &nbsp; 3-4- те ж лівою ногою.</p>
                    <p>Повторити вправу 6-8 разів.</p>
                </li>

                <li>
                    Вихідне положення - упор присiвши позаду на правiй, лiву вперед.
                    <p>&nbsp; &nbsp; &nbsp; 1 - поштовхом правої змiнити положення нiг.</p>
                    <p>&nbsp; &nbsp; &nbsp; 2 - поштовхом лiвої в.п.</p>
                    <p>Повторити вправу 4-8 разів.</p>
                </li>

                <li>
                    Вихідне положення &ndash; основна стійка, руки в сторони.
                    <p>&nbsp; &nbsp; &nbsp; 1&nbsp;- стрибок з хлопком в долонi перед собою.</p>
                    <p>&nbsp; &nbsp; &nbsp; 2 - стрибок з хлопком за спиною.</p>
                    <p>Повторити вправу 8-10 разів.</p>
                    <p>Ходьба на мiсцi.</p>
                </li>
            </ol>

            <h3>Комплекс загально-розвиваючих вправ для м&rsquo;язiв нiг</h3>

            <ol>
                <li>
                    Вихідне положення &ndash; основна стійка.
                    <p>&nbsp; &nbsp; &nbsp; 1-2 - крок правою вперед, руки вгору.</p>
                    <p>&nbsp; &nbsp; &nbsp; 3-4 - в.п.</p>
                    <p>&nbsp; &nbsp; &nbsp; 5-6 - теж саме лівою вперед, руки вгору</p>
                    <p>&nbsp; &nbsp; &nbsp; 7-8 &ndash; в.п.</p>
                    <p>Повторити вправу 6-8 разів.</p>
                </li>

                <li>
                    Вихідне положення &ndash; основна стійка, руки назад.
                    <p>&nbsp; &nbsp; &nbsp; 1 - присiд на всiй ступнi, коліна разом, руки вперед.</p>
                    <p>&nbsp; &nbsp; &nbsp; 2 - в.п.</p>
                    <p>&nbsp; &nbsp; &nbsp; 3-4 &ndash; теж саме.</p>
                    <p>Повторити вправу 8 разів.</p>
                </li>

                <li>
                    Вихідне положення &ndash; основна стійка, руки в сторони.
                    <p>&nbsp; &nbsp; &nbsp; 1 - випад вправо з нахилом влiво, руки вгору.</p>
                    <p>&nbsp; &nbsp; &nbsp; 2 - в.п.</p>
                    <p>&nbsp; &nbsp; &nbsp; 3-4 - те ж в другу сторону. &nbsp; &nbsp;</p>
                    <p>Повторити вправу 4-8 разів.</p>
                </li>

                <li>
                    Вихідне положення - основна стiйка.
                    <p>&nbsp; &nbsp; &nbsp; 1-2 - присід на правій, лiву вперед, руки вперед.</p>
                    <p>&nbsp; &nbsp; &nbsp; 3-4 - в.п.</p>
                    <p>&nbsp; &nbsp; &nbsp; 5-8 - те ж &nbsp;на лівій нозі.</p>
                    <p>Повторити вправу 4-8 разів.</p>
                </li>

                <li>
                    Вихідне положення - упор сидячи.
                    <p>&nbsp; &nbsp; &nbsp; 1 - упор сидячи зігнувши ноги, не торкаючись носками пiдлоги.&nbsp;</p>
                    <p>&nbsp; &nbsp; &nbsp; 2 - упор сидячи кутом.</p>
                    <p>&nbsp; &nbsp; &nbsp; 3-4 - в.п. &nbsp;</p>
                    <p>Повторити вправу 4-8 разів. &nbsp;</p>
                </li>

                <li>
                    Вихідне положення - основна стiйка.
                    <p>&nbsp; &nbsp; &nbsp; 1 - мах правою в сторону, хлопок руками над головою.</p>
                    <p>&nbsp; &nbsp; &nbsp; 2 - в.п.</p>
                    <p>&nbsp; &nbsp; &nbsp; 3-4 - те ж лівою ногою.</p>
                    <p>Повторити вправу 4-8 разів.</p>
                </li>

                <li>Вихідне положення - руки в сторони.
                    <p>&nbsp; &nbsp; &nbsp; 1 - мах лівою вперед, праву руку вперед, торкнутися руки ногою.</p>
                    <p>&nbsp; &nbsp; &nbsp; 2 - в.п.</p>
                    <p>&nbsp; &nbsp; &nbsp; 3-4 -те ж правою ногою.</p>
                    <p>Повторити вправу 6-8 разів.</p>
                </li>

                <li>Вихідне положення &ndash; основна стійка, руки на поясi.
                    <p>&nbsp; &nbsp; &nbsp; 1-2 - два стрибки на лiвiй, праву вперед-вниз.</p>
                    <p>&nbsp; &nbsp; &nbsp; 3-4 - два стрибки на правiй, лiву вперед-вниз.</p>
                    <p>Повторити вправу 10 разів.</p>
                    <p>Ходьба на мiсцi.</p>
                </li>
            </ol>
        </article>
    </section>
</template>