<template id="getting-started">
    <section class="recommendations">
        <h3>Інструкція</h3>
        <p>
            <mark>Основна мета</mark> запропонованої програми самостійних занять спрямована на підвищення інтересу та мотиваційних
            пріоритетів до самостійної діяльності школярів, збереження стану здоров'я, підтримки високого рівня фізичної
            й розумової роботоздатності.
            Розроблена програмасамостійних занять з фізичного виховання для старшокласників виконує ряд функцій:
        </p>
        <ul>
            <li>навчальна (опрацювання першоджерел, що сприяє більш глибокому осмисленню вже засвоєних знань з
                самостійної роботи);
            </li>
            <li>пізнавальна (опанування новими знаннями, в області самостійних занять з фізичного виховання);</li>
            <li>коригуюча (осмислення новітніх теорій, концепцій, категорій, підходів до визначення суті відомих понять
                самостійної діяльності);
            </li>
            <li>стимулююча (така організація самостійної роботи, в ході якої старшокласник отримує задоволення від
                результатів пізнавальної діяльності);
            </li>
            <li>виховна (спрямована на формування в особистості школяра самовиховання, самоцілеспрямованості,
                відповідальності, самодисциплінованості);
            </li>
            <li>розвиваюча (спрямована на розвиток самостійності, творчості, дослідницьких вмінь школяра).</li>
            <li>Розроблена комп’ютерна програма дозволяє здійснювати контроль, за наданням теоретичних відомостей та
                відповідного навантаження до організації та проведення самостійних занять з фізичного виховання виходячи
                з інтересів та мотивів до занять фізичними вправами, рівня фізичного розвитку, фізичної підготовленості,
                соматичного здоров'я та рухової активності дітей старшого шкільного віку. Програма побудована таким
                чином, що дозволяє легко користуватися нею дітям старшого шкільного віку.
            </li>
        </ul>
    </section>
</template>