<template id="home">
    <a href='#infoTab/getting-started' class="getting-started col-xs-2" title="Інструкція по роботі з програмою">Инструкция</a>
    <a href='#infoTab/my-phis-state' class="my-phis-state col-xs-2">Физ состояние</a>
    <a href='#infoTab/info-resources' class="info-resources col-xs-2">Ифнорм. ресурс</a>
    <a href='#infoTab/recommendations' class="recommendations col-xs-2">Рекомендации</a>
    <a href='#infoTab/you-should-know' class="you-should-know col-xs-2">Вы должны знать</a>
    <a href='#infoTab/complex-self-improving' class="complex-self-improving col-xs-2">Селф импрув</a>
    <a href='#infoTab/notebook-for-exercices' class="notebook-for-exercices col-xs-2">Дневник</a>
</template>