<template id="home">
    <figure>
        <a href='#infoTab/getting-started' class="getting-started col-xs-2" title="Інструкція по роботі з програмою"></a>
        <figcaption>
            <h4>Инструкция</h4>
            <p></p>
        </figcaption>
    </figure>
    <figure>
        <a href='#infoTab/my-phis-state' class="my-phis-state col-xs-2"></a>
        <figcaption>
            <h4>Фізичний стан</h4>
            <p></p>
        </figcaption>
    </figure>
    <figure>
        <a href='#infoTab/recommendations' class="recommendations col-xs-2"></a>
        <figcaption>
            <h4>Рекомендації</h4>
            <p></p>
        </figcaption>
    </figure>
    <figure>
        <a href='#infoTab/you-should-know' class="you-should-know col-xs-2"></a>
        <figcaption>
            <h4>Варто знати</h4>
            <p></p>
        </figcaption>
    </figure>
    <figure>
        <a href='#infoTab/complex-self-improving' class="complex-self-improving col-xs-2"></a>
        <figcaption>
            <h4>Комплекс вправ</h4>
            <p></p>
        </figcaption>
    </figure>
<!--    <a href='#infoTab/my-phis-state' class="my-phis-state col-xs-2">Физ состояние</a>
    <a href='#infoTab/recommendations' class="recommendations col-xs-2">Рекомендации</a>
    <a href='#infoTab/you-should-know' class="you-should-know col-xs-2">Вы должны знать</a>
    <a href='#infoTab/complex-self-improving' class="complex-self-improving col-xs-2">Селф импрув</a>
    <a href='#infoTab/notebook-for-exercices' class="notebook-for-exercices col-xs-2">Дневник</a>
    <a href='#infoTab/getting-started' class="getting-started col-xs-2" title="Інструкція по роботі з програмою">Инструкция</a>-->
</template>