<template id="home">
    <figure>
        <a href='#infoTab/my-phis-state' class="my-phis-state col-xs-2"></a>
        <figcaption>
            <h4>Фізичний стан</h4>
            <p></p>
        </figcaption>
    </figure>
    <figure>
        <a href='#infoTab/recommendations' class="recommendations col-xs-2"></a>
        <figcaption>
            <h4>Рекомендації</h4>
            <p></p>
        </figcaption>
    </figure>
    <figure>
        <a href='#infoTab/you-should-know' class="you-should-know col-xs-2"></a>
        <figcaption>
            <h4>Варто знати</h4>
            <p></p>
        </figcaption>
    </figure>
    <figure>
        <a href='#infoTab/complex-self-improving' class="complex-self-improving col-xs-2"></a>
        <figcaption>
            <h4>Комплекс вправ</h4>
            <p></p>
        </figcaption>
    </figure>
</template>