<template id="motor-activity">
    <fieldset>
        <legend>Карта реєстрації рухової активності</legend>
    </fieldset>
    <table class="table table-striped table-hover">
        <thead>
        <th>Час початку діяльності</th>
        <th colspan="2">Загальний зміст діяльності</th>
        <th>Тривалість діяльності</th>
        <th>Рівень рухової активності</th>
        <th>
            <span class="glyphicon glyphicon-plus"></span>
        </th>
        </thead>
        <tbody class="activities"></tbody>
    </table>
    <button class="btn btn-primary form-control">Розрахувати</button>
    <fieldset>
        <legend>Отриманий результат:</legend>
    </fieldset>
    <table class="table table-striped table-hover">
        <thead>
        <th colspan="2">Рівень рухової активності</th>
        <th colspan="2">Загальна кількість часу (год.,хв.)</th>
        <th colspan="2">Відсоток на добу (%)</th>
        </thead>
        <tbody>
        <tr>
            <td colspan="2">Базовий рівень</td>
            <td colspan="2" name="basic-count"></td>
            <td colspan="2" name="basic-percent"></td>
        </tr>
        <tr>
            <td colspan="2">Сидячий рівень</td>
            <td colspan="2" name="sitting-count"></td>
            <td colspan="2" name="sitting-percent"></td>
        </tr>
        <tr>
            <td colspan="2">Малий рівень</td>
            <td colspan="2" name="small-count"></td>
            <td colspan="2" name="small-percent"></td>
        </tr>
        <tr>
            <td colspan="2">Середній рівень</td>
            <td colspan="2" name="middle-count"></td>
            <td colspan="2" name="middle-percent"></td>
        </tr>
        <tr>
            <td colspan="2">Високий рівень </td>
            <td colspan="2" name="high-count"></td>
            <td colspan="2" name="high-percent"></td>
        </tr>
        </tbody>
    </table>
    <svg width="50" height="50">
        <circle></circle>
        <circle></circle>
        <circle></circle>
        <circle></circle>
        <circle></circle>
    </svg>
</template>