<template id="my-phis-state">
    <aside class="btn-group-vertical col-xs-3" role="group" >
        <ul class="nav nav-pills nav-stacked">
            <li class="physical-state">
                <a href='#infoTab/my-phis-state/physical-state'>Физичний розвиток</a>
            </li>
            <li class="shoulder-index">
                <a href='#infoTab/my-phis-state/shoulder-index'>Плечовий індекс та постава</a>
            </li>
            <li class="physical-preparedness">
                <a href='#infoTab/my-phis-state/physical-preparedness'>Фізична підготовленість</a>
            </li>
            <li class="physical-health">
                <a href='#infoTab/my-phis-state/physical-health'>Фізичне здоров’я по Г.Л.&nbsp;Апанасенко</a>
            </li>
            <li class="motor-activity">
                <a href='#infoTab/my-phis-state/motor-activity'>Рухова активність</a>
            </li>
            <li class="definition">
                <a href='#infoTab/my-phis-state/definition'>Визначення калорійності</a>
            </li>
        </ul>
    </aside>
    <div class="form-container col-xs-7"></div>
</template>