<template id="notebook-for-exercices">
    <fieldset class="form-group body-index">
        <legend>Щоденник</legend>
        <label for="date" class="control-label">Дата</label>
        <input type="text" name="date" id="date" class="form-control" placeholder="Дата"/>

        <label for="note" class="control-label">Нотатки</label>
        <textarea name="note" id="note" cols="30" rows="10" class="form-control" placeholder="Введіть текст..."></textarea>
    </fieldset>

  <button class="btn btn-success form-control">Зберегти</button>
  <button id='archive' class="btn btn-primary form-control">Архів</button>
</template>