<template id="profile">
    <form class="form-group col-xs-6 col-xs-offset-3 profile">
        <div class="form-group">
            <label>Прізвище</label>
            <input class="form-control input-lg" name='lastName' placeholder="Прізвище"/>
        </div>
        <div class="form-group">
            <label>Ім'я</label>
            <input class="form-control input-lg" name='firstName' placeholder="Ім'я"/>
        </div>
        <div class="form-group">
            <label>По батькові</label>
            <input class="form-control input-lg" name='surname' placeholder="По батькові"/>
        </div>
        <div class="form-group">
            <label>Вік</label>
            <select name='age' class="form-control">
                <option value="15" selected>15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
            </select>
        </div>
        <div class="form-group">
            <label>Стать</label>
            <div class="radio">
                <label class="medium-font">
                    <input type="radio" name="gender" value="male" checked/>
                    Хлопець
                </label>
            </div>
            <div class="radio">
                <label class="medium-font">
                    <input type="radio" name="gender" value="female"/>
                    Дівчина
                </label>
            </div>
        </div>
        <div class="form-group">
            <label>Школа</label>
            <input class="form-control input-lg" name='school' placeholder="Школа"/>
        </div>
        <div class="form-group">
            <label>Клас</label>
            <input class="form-control input-lg" name='group' placeholder="Клас"/>
        </div>
        <div class="form-group">
            <label>Сім'я</label>
            <div class="radio">
                <label>
                    <input type="radio" name="household" value="full" checked/>
                    повна
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="household" value="incomplete"/>
                    неповна
                </label>
            </div>
            <div class="radio">
                <label>
                <input type="radio" name="household" value="orphan"/>
                сирота
                </label>
            </div>
        </div>
        <button class="btn btn-lg btn-success save">Зберегти</button>
        <button class="btn btn-lg btn-default cancel">Відмінити</button>
    </form>
</template>