<template id="register">
    <form class="form-horizontal slide-down">
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>

            <div class="col-sm-6">
                <input type="email" name='email' class="form-control input-lg" placeholder="Email"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>

            <div class="col-sm-6">
                <input type="password" name='password' class="form-control input-lg" placeholder="Password"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>

            <div class="col-sm-6">
                <input type="password" name='password_confirmation' class="form-control input-lg" placeholder="Password"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Запам'ятати мене
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <button class="btn btn-lg btn-success">Зареструватися</button>
                <button class="btn btn-lg btn-default cancel">Вiдмiнити</button>
            </div>
        </div>
    </form>
</template>