<template id='profile-statistic'>
    <td name='lastName'></td>
    <td name='firstName'></td>
    <td name='age'></td>
    <td name='gender'></td>
    <td name='school'></td>
    <td name='group'></td>
    <td name='household'></td>
</template>