<template id="activity-row">
    <td>
        <input class='pull-left' name="startHour" min='6' max='23' type="number" />
        <input class='pull-left' name="startMinute" min='00' max='55' step='5' type="number" />
    </td>
    <td colspan="2">
        <select class="form-control" name="description" >
            <option value="wakingup" data-activity-level="sml" selected>Прокинувся, вмився,прибрав постіль</option>
            <option value="bagcollected" data-activity-level="ml">Зібрав сумку</option>
            <option value="havebreakfast" data-activity-level="sl">Поснідав</option>
            <option value="wearing" data-activity-level="sml">Одягнувся</option>
            <option value="onfoot" data-activity-level="sml">Рух пішки</option>
            <option value="readytolessons" data-activity-level="sml">Готувався до занять</option>
            <option value="lessonsinschool" data-activity-level="sml">Уроки в школі</option>
            <option value="secondlesson" data-activity-level="sl">Другий сніданок</option>
            <option value="physexercises" data-activity-level="hl">Заняття фізичною культурою</option>
            <option value="procedures" data-activity-level="sml">Перевдягання, душ</option>
            <option value="speaking" data-activity-level="ml">Додому пішки, спілкування з однолітками</option>
            <option value="changeclothes" data-activity-level="sml">Перевдягався, розмовляв по телефону</option>
            <option value="havedinner" data-activity-level="sl">Обідав</option>
            <option value="readingwatching" data-activity-level="sl">Читав, дивився телевізор</option>
            <option value="speakingbyphone" data-activity-level="sml">Розмовляв по телефону</option>
            <option value="dohomeexercises" data-activity-level="sml">Робив домашнє завдання</option>
            <option value="preparing" data-activity-level="sl">Готувався до контрольної роботи</option>
            <option value="playingcomputer" data-activity-level="ml">Гра на комп’ютері</option>
            <option value="homework" data-activity-level="sl">Робота по дому (прибирання)</option>
            <option value="watchingtv" data-activity-level="sl">Дивися телевізор</option>
            <option value="bathprocedures" data-activity-level="sml"s>Гігієнічні процедури</option>
            <option value="sleep" data-activity-level="bl">Сон</option>
        </select>
    </td>
    <td>
        <input class='pull-left' name="activityHour" min='0' max='24' type="number" />
        <input class='pull-left' name="activityMinute" min='00' max='55' step='5' type="number" />
    </td>
    <td name="activityLevel">

       <!-- <select class="form-control" name="activityLevel">
            <option value="bl">Базовий рівень</option>
            <option value="sl">Сидячий рівень</option>
            <option value="sml">Малий рівень</option>
            <option value="ml">Середній рівень</option>
            <option value="hl">Високий рівень</option>
        </select>-->
    </td>
    <td>
        <span class="glyphicon glyphicon-remove"></span>
    </td>
</template>