<template id="activity-row">
    <td>
        <input class='pull-left' name="startHour" min='6' max='23' type="number" />
        <input class='pull-left' name="startMinute" min='00' max='55' step='5' type="number" />
    </td>
    <td colspan="2">
        <select class="form-control" name="description" >
            <option data-activity-level="sml" selected>Прокинувся, вмився,прибрав постіль</option>
            <option data-activity-level="ml">Зібрав сумку</option>
            <option data-activity-level="sl">Поснідав</option>
            <option data-activity-level="sml">Одягнувся</option>
            <option data-activity-level="sml">Рух пішки</option>
            <option data-activity-level="sml">Готувався до занять</option>
            <option data-activity-level="sml">Уроки в школі</option>
            <option data-activity-level="sl">Другий сніданок</option>
            <option data-activity-level="hl">Заняття фізичною культурою</option>
            <option data-activity-level="sml">Перевдягання, душ</option>
            <option data-activity-level="ml">Додому пішки, спілкування з однолітками</option>
            <option data-activity-level="sml">Перевдягався, розмовляв по телефону</option>
            <option data-activity-level="sl">Обідав</option>
            <option data-activity-level="sl">Читав, дивився телевізор</option>
            <option data-activity-level="sml">Розмовляв по телефону</option>
            <option data-activity-level="sml">Робив домашнє завдання</option>
            <option data-activity-level="sl">Готувався до контрольної роботи</option>
            <option data-activity-level="ml">Гра на комп’ютері</option>
            <option data-activity-level="sl">Робота по дому (прибирання)</option>
            <option data-activity-level="sl">Дивися телевізор</option>
            <option data-activity-level="sml">Гігієнічні процедури</option>
            <option data-activity-level="bl">Сон</option>
        </select>
    </td>
    <td>
        <input class='pull-left' name="activityHour" min='0' max='24' type="number" />
        <input class='pull-left' name="activityMinute" min='00' max='55' step='5' type="number" />
    </td>
    <td name="activityLevel"></td>
    <td>
        <span class="glyphicon glyphicon-remove"></span>
    </td>
</template>