<template id="activity-row">
    <td>
        <input class='form-control' name="startDate" />
    </td>
    <td colspan="2">
        <input class='form-control' name="description" />
    </td>
    <td>
        <input class='form-control' name="activityPeriod" />
    </td>
    <td>
        <input class='form-control' name="activityLevel" />
    </td>
    <td>
        <span class="glyphicon glyphicon-remove"></span>
    </td>
</template>