<template id="body-index">
    <fieldset>
        <legend>Введіть дані</legend>

        <div class="form-group">
            <label for="height" class="col-sm-6 control-label">Зріст, см</label>
            <div class="col-sm-6">
                <input id="height" name='height' class="form-control" placeholder="Зріст, см" />
            </div>
        </div>

        <div class="form-group">
            <label for="weight" class="col-sm-6 control-label">Вага, кг</label>
            <div class="col-sm-6">
                <input id="weight" name='weight' class="form-control" placeholder="Вага, кг" />
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Результати</legend>

        <div class="form-group">
            <label for="bodyindex" class="col-sm-6 control-label">Індекс маси тіла</label>
            <div class="col-sm-6">
                <input id="bodyindex" name='bodyindex' class="form-control" placeholder="Індекс маси тіла" />
            </div>
        </div>

        <button id='save' class="btn btn-primary form-control action">Зберегти</button>
        <button id='archive' class="btn btn-primary form-control">Архів</button>
        <div class="archive hide">
            <fieldset>
                <legend>Архів даних</legend>
            </fieldset>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th colspan="2">Вага, кг</th>
                    <th colspan="2">Зріст, см</th>
                    <th colspan="2">Індекс маси тіла</th>
                </tr>
                </thead>
                <tbody id="archive-container">
                </tbody>
            </table>
        </div>
    </fieldset>
    <fieldset>
        <legend>Класифікація</legend>
    </fieldset>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th colspan="7">Класифікація маси тіла і частота виникнення хронічних інфекційних захворювань</th>
        </tr>
        <tr>
            <th rowspan="2">Класифікація</th>
            <th rowspan="2">ІМТ, кг/м<sup>2</sup></th>
            <th colspan="3">Ймовірність розвитку захворювань</th>
        </tr>
        <tr>
            <th>Серцево судинних</th>
            <th>Бронхо-легеневих</th>
            <th>Ендокринних</th>
        </tr>
        </thead>
        <tbody>
        <tr data-im-range="{ min: 0, max: 18.5 }">
            <td>Недостатня маса</td>
            <td>менше 18.5</td>
            <td>Низька</td>
            <td>Збільшена</td>
            <td>Низька</td>
        </tr>
        <tr data-im-range="{ min: 18.5, max: 24.9 }">
            <td>Норма</td>
            <td>18.5-24.9</td>
            <td>Низька</td>
            <td>Низька</td>
            <td>Низька</td>
        </tr>
        <tr data-im-range="{ min: 25, max: 29.9 }">
            <td>Передожиріння (гладкість)</td>
            <td>25.0-29.9</td>
            <td>Середня</td>
            <td>Низька</td>
            <td>Низька</td>
        </tr>
        <tr data-im-range="{ min: 30.0, max: 34.9 }">
            <td>Ожиріння I ступеня</td>
            <td>30.0-34.9</td>
            <td>Збільшена</td>
            <td>Низька</td>
            <td>Середня</td>
        </tr>
        <tr data-im-range="{ min: 35, max: 39.9 }">
            <td>Ожиріння II ступеня</td>
            <td>35.0-39.9</td>
            <td>Значно збільшена</td>
            <td>Можливо збільшена</td>
            <td>Збільшена</td>
        </tr>
        <tr data-im-range="{ min: 40, max: 200 }">
            <td>Ожиріння III ступеня</td>
            <td>більше 40.0</td>
            <td>Істотно збільшена</td>
            <td>Збільшена</td>
            <td>Значно або істотно збільшена</td>
        </tr>
        </tbody>
    </table>
</template>