<template id="definition">
    <%= render 'templates/physicaltab/tab_header' %>

    <table class="calories table table-bordered">
        <caption>Таблиця калорійності</caption>

        <thead>
            <tr>
                <th>Назва</th>
                <th>Білки</th>
                <th>Жири</th>
                <th>Вуглеводи</th>
                <th>ккал</th>
            </tr>
        </thead>

        <tbody></tbody>
    </table>
</template>