<template id="physical-state">
    <fieldset class="form-group body-index">
        <%= render 'templates/physicaltab/tab_header' %>
        <fieldset>
            <legend>Показники</legend>

            <div class="form-group">
                <label for="height" class="col-sm-6 control-label">Зріст, см</label>
                <div class="col-sm-6">
                    <input id="height" name='height' class="form-control" placeholder="Зріст, см" />
                </div>
            </div>

            <div class="form-group">
                <label for="weight" class="col-sm-6 control-label">Вага, кг</label>
                <div class="col-sm-6">
                    <input id="weight" name='weight' class="form-control" placeholder="Вага, кг" />
                </div>
            </div>

            <div class="form-group">
                <label for="circumference" class="col-sm-6 control-label">Окружність грудноі клітки, см</label>
                <div class="col-sm-6">
                    <input id="circumference" name="circumference" class="form-control" placeholder="Окружність грудноі клітки" />
                </div>
            </div>

            <div class="form-group">
                <label for="volume" class="col-sm-6 control-label">Життєва ємність легенів, мл</label>
                <div class="col-sm-6">
                    <input id="volume" name="volume" class="form-control" placeholder="Життєва ємність легенів, мл" />
                </div>
            </div>

            <button class="btn btn-primary form-control calculate">Розрахувати</button>
            <button id='archive' class="btn btn-primary form-control calculate">Архів</button>
        </fieldset>
        <fieldset>
            <legend>Результати</legend>

            <div class="form-group">
                <label for="bodyindex" class="col-sm-6 control-label">Індекс маси тіла</label>
                <div class="col-sm-6">
                    <input id="bodyindex" name='bodyindex' class="form-control" placeholder="Індекс маси тіла" />
                </div>
            </div>

            <div class="form-group">
                <label for="lifeindex" class="col-sm-6 control-label">Життєвий індекс</label>
                <div class="col-sm-6">
                    <input id="lifeindex" name='lifeindex' class="form-control" placeholder="Життєвий індекс" />
                </div>
            </div>

            <button class="btn btn-success form-control save">Зберегти</button>
        </fieldset>
    </fieldset>
    <fieldset>
        <legend>Оцінка життєвого індексу</legend>
    </fieldset>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th rowspan="2">Вік, років </th>
            <th colspan="3">Хлопець</th>
            <th colspan="3">Дівчина</th>
        </tr>
        <tr>
            <th>Менше норми</th>
            <th>Норма</th>
            <th>Більше норми</th>
            <th>Менше норми</th>
            <th>Норма</th>
            <th>Більше норми</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>15-16</td>
            <td>≥52</td>
            <td>53-57</td>
            <td>58≤</td>
            <td>≥45</td>
            <td>46-51</td>
            <td>52≤</td>
        </tr>
        <tr>
            <td>17-18</td>
            <td>≥54</td>
            <td>55-63</td>
            <td>63≤</td>
            <td>≥48</td>
            <td>48-55</td>
            <td>56≤</td>
        </tr>
        </tbody>
    </table>
    <fieldset>
        <legend>Класифікація</legend>
    </fieldset>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th colspan="7">Класифікація маси тіла і частота виникнення хронічних інфекційних захворювань</th>
        </tr>
        <tr>
            <th rowspan="2">Класифікація</th>
            <th rowspan="2">ІМТ, кг/м<sup>2</sup></th>
            <th colspan="3">Ймовірність розвитку захворювань</th>
        </tr>
        <tr>
            <th>Серцево судинних</th>
            <th>Бронхо-легеневих</th>
            <th>Ендокринних</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Недостатня маса</td>
            <td>менше 18.5</td>
            <td>Низька</td>
            <td>Збільшена</td>
            <td>Низька</td>
        </tr>
        <tr>
            <td>Норма</td>
            <td>18.5-24.9</td>
            <td>Низька</td>
            <td>Низька</td>
            <td>Низька</td>
        </tr>
        <tr>
            <td>Передожиріння (гладкість)</td>
            <td>25.0-29.9</td>
            <td>Середня</td>
            <td>Низька</td>
            <td>Низька</td>
        </tr>
        <tr>
            <td>Ожиріння I ступеня</td>
            <td>30.0-34.9</td>
            <td>Збільшена</td>
            <td>Низька</td>
            <td>Середня</td>
        </tr>
        <tr>
            <td>Ожиріння II ступеня</td>
            <td>35.0-39.9</td>
            <td>Значно збільшена</td>
            <td>Можливо збільшена</td>
            <td>Збільшена</td>
        </tr>
        <tr>
            <td>Ожиріння III ступеня</td>
            <td>більше 40.0</td>
            <td>Істотно збільшена</td>
            <td>Збільшена</td>
            <td>Значно або істотно збільшена</td>
        </tr>
        </tbody>
    </table>

    <fieldset>
        <legend>Антропометричні стандарти фізичного розвитку хлопців</legend>
    </fieldset>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th rowspan="2">Вік</th>
            <th colspan="5">Рівні</th>
        </tr>
        <tr>
            <th>Низький</th>
            <th>Нижче за середній</th>
            <th>Середній</th>
            <th>Вище за середній</th>
            <th>Високий</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="6">
                <strong>Довжина тіла, см</strong>
            </td>
        </tr>

        <tr>
            <td>15</td>
            <td>≤158,6</td>
            <td>158,6 - 162,5</td>
            <td>162,5 - 173,5</td>
            <td>173,5 - 177,6</td>
            <td>177,6≤</td>
        </tr>
        <tr>
            <td>16</td>
            <td>≤163,2</td>
            <td>163,2 - 166,8</td>
            <td>166,8 - 177,8</td>
            <td>177,8 - 182,0</td>
            <td>182,0≤</td>
        </tr>
        <tr>
            <td>17</td>
            <td>≤166,6</td>
            <td>166,6 - 171,6</td>
            <td>171,6 - 181,6</td>
            <td>181,6 - 186,0</td>
            <td>186,0≤</td>
        </tr>
        <tr>
            <td>18</td>
            <td>≤172,4</td>
            <td>172,4 - 182,9</td>
            <td>182,9 - 186,4</td>
            <td>186,4 - 189,2</td>
            <td>189,2≤</td>
        </tr>

        <tr>
            <td colspan="6">
                <strong>Маса тіла, кг</strong>
            </td>
        </tr>

        <tr>
            <td>15</td>
            <td>≤43,0</td>
            <td>43,0 - 48,3</td>
            <td>48,3 - 62,8</td>
            <td>62,8 - 70,0</td>
            <td>70,0≤</td>
        </tr>
        <tr>
            <td>16</td>
            <td>≤48,3</td>
            <td>48,3 - 54,0</td>
            <td>54,0 - 69,6</td>
            <td>69,6 - 76,5</td>
            <td>76,5≤</td>
        </tr>
        <tr>
            <td>17</td>
            <td>≤54,6</td>
            <td>54,6 - 59,8</td>
            <td>59,8 - 74,0</td>
            <td>74,0 - 80,1</td>
            <td>80,1≤</td>
        </tr>
        <tr>
            <td>18</td>
            <td>≤59,9</td>
            <td>59,9 - 75,3</td>
            <td>75,3 - 81,4</td>
            <td>81,4 - 88,7</td>
            <td>88,7≤</td>
        </tr>

        <tr>
            <td colspan="6">
                <strong>Окружність грудної клітки, см</strong>
            </td>
        </tr>

        <tr>
            <td>15</td>
            <td>≤73,4</td>
            <td>73,4 - 79,1</td>
            <td>79,1 - 82,3</td>
            <td>82,3 - 86,7</td>
            <td>86,7≤</td>
        </tr>
        <tr>
            <td>16</td>
            <td>≤79,1</td>
            <td>79,1 - 83,6</td>
            <td>83,4 - 87,6</td>
            <td>87,6 - 90,7</td>
            <td>90,7≤</td>
        </tr>
        <tr>
            <td>17</td>
            <td>≤83,4</td>
            <td>83,4 - 85,6</td>
            <td>85,6 - 89,7</td>
            <td>89,7 - 92,5</td>
            <td>82,5≤</td>
        </tr>
        <tr>
            <td>18</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td colspan="6">
                <strong>Життєва ємність легень, мл</strong>
            </td>
        </tr>

        <tr>
            <td>15</td>
            <td>≤2000</td>
            <td>2000 - 2400</td>
            <td>2400 - 2700</td>
            <td>2700 - 3000</td>
            <td>3000≤</td>
        </tr>
        <tr>
            <td>16</td>
            <td>≤2100</td>
            <td>2100 - 2500</td>
            <td>2500 - 3000</td>
            <td>3000 - 3400</td>
            <td>3400≤</td>
        </tr>
        <tr>
            <td>17</td>
            <td>≤2700</td>
            <td>2700 - 3100</td>
            <td>3100 - 3520</td>
            <td>3520 - 3700</td>
            <td>3700≤</td>
        </tr>
        <tr>
            <td>18</td>
            <td>≤3200</td>
            <td>3200 - 3600</td>
            <td>3600 - 3800</td>
            <td>3800 - 4000</td>
            <td>4000≤</td>
        </tr>
        </tbody>
    </table>

    <fieldset>
        <legend>Антропометричні стандарти фізичного розвитку дівчат</legend>
    </fieldset>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th rowspan="2">Вік</th>
            <th colspan="5">Рівні</th>
        </tr>
        <tr>
            <th>Низький</th>
            <th>Нижче за середній</th>
            <th>Середній</th>
            <th>Вище за середній</th>
            <th>Високий</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="6">
                <strong>Довжина тіла, см</strong>
            </td>
        </tr>

        <tr>
            <td>15</td>
            <td>≤154,4</td>
            <td>154,4 - 157,2</td>
            <td>157,2 - 166,0</td>
            <td>166,0 - 169,2</td>
            <td>169,2≤</td>
        </tr>
        <tr>
            <td>16</td>
            <td>≤155,2</td>
            <td>155,2-158,0</td>
            <td>158,0-166,8</td>
            <td>166,8-170,2</td>
            <td>170,2≤</td>
        </tr>
        <tr>
            <td>17</td>
            <td>≤155,8</td>
            <td>155,8 - 158,6</td>
            <td>158,6 - 169,2</td>
            <td>169,2 - 170,4</td>
            <td>170,4≤</td>
        </tr>
        <tr>
            <td>18</td>
            <td>≤159,6</td>
            <td>159,6-169,0</td>
            <td>169,0-170,1</td>
            <td>170,1-172,9</td>
            <td>172,9≤</td>
        </tr>

        <tr>
            <td colspan="6">
                <strong>Маса тіла, кг</strong>
            </td>
        </tr>

        <tr>
            <td>15</td>
            <td>≤46,8</td>
            <td>46,8 - 50,6</td>
            <td>50,6 - 60,4</td>
            <td>60,4 - 66,5</td>
            <td>66,5≤</td>
        </tr>
        <tr>
            <td>16</td>
            <td>≤48,4</td>
            <td>48,4 - 51,8</td>
            <td>51,8 - 61,3</td>
            <td>61,3 - 67,6</td>
            <td>67,6≤</td>
        </tr>
        <tr>
            <td>17</td>
            <td>≤49,2</td>
            <td>49,2 - 52,9</td>
            <td>52,9 - 61,9</td>
            <td>61,9 - 68,0</td>
            <td>68,0≤</td>
        </tr>
        <tr>
            <td>18</td>
            <td>≤50,4</td>
            <td>50,4 - 55,9</td>
            <td>55,9 - 62,7</td>
            <td>62,7 - 69,1</td>
            <td>69,1≤</td>
        </tr>

        <tr>
            <td colspan="6">
                <strong>Окружність грудної клітки, см</strong>
            </td>
        </tr>

        <tr>
            <td>15</td>
            <td>≤67,3</td>
            <td>67,3 - 70,1</td>
            <td>70,1 - 74,5</td>
            <td>74,5 - 77,6</td>
            <td>77,6≤</td>
        </tr>
        <tr>
            <td>16</td>
            <td>≤69,4</td>
            <td>69,4 - 72,6</td>
            <td>72,6 - 75,0</td>
            <td>75,0 - 78,2</td>
            <td>78,2≤</td>
        </tr>
        <tr>
            <td>17</td>
            <td>≤70,9</td>
            <td>70,9 - 73,4</td>
            <td>73,4 - 76,1 </td>
            <td>76,1 - 79,8</td>
            <td>79,8≤</td>
        </tr>
        <tr>
            <td>18</td>
            <td>≤71,6</td>
            <td>71,6 - 74,3</td>
            <td>74,3 - 76,9</td>
            <td>76,9 - 80,1</td>
            <td>80,1</td>
        </tr>

        <tr>
            <td colspan="6">
                <strong>Життєва ємність легень, мл</strong>
            </td>
        </tr>

        <tr>
            <td>15</td>
            <td>≤2000</td>
            <td>2000 - 2300</td>
            <td>2300 - 2600</td>
            <td>2600 - 2800</td>
            <td>2800≤</td>
        </tr>
        <tr>
            <td>16</td>
            <td>≤2100</td>
            <td>2100 - 2400</td>
            <td>2400 - 2750</td>
            <td>2750 - 3000</td>
            <td>3000≤</td>
        </tr>
        <tr>
            <td>17</td>
            <td>≤2150</td>
            <td>2150 - 2450</td>
            <td>2450 - 2800</td>
            <td>2800 - 3050</td>
            <td>3050≤</td>
        </tr>
        <tr>
            <td>18</td>
            <td>≤2350</td>
            <td>2350 - 2600</td>
            <td>2600 - 3000</td>
            <td>3000 - 3250</td>
            <td>3250≤</td>
        </tr>
        </tbody>
    </table>
</template>