<template id="physical-preparedness">
    <%= render 'templates/physicaltab/tab_header' %>
    <fieldset>
        <legend>Фізична підготовленість </legend>
    </fieldset>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th colspan="2">Тести</th>
            <th colspan="2">Результат</th>
            <th colspan="2">Рівень фізичноі підготовленості</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">Згинання і розгинання рук в упорі лежачи (разів) </td>
                <td colspan="2">
                    <input name="pushUps" maxLength="4" class="form-control" />
                </td>
                <td colspan="2" name="pushUps"></td>
            </tr>
            <tr>
                <td colspan="2">Піднімання в сід за 1 хв (разів) </td>
                <td colspan="2">
                    <input name="raising" maxLength="4" class="form-control" />
                </td>
                <td colspan="2" name="raising"></td>
            </tr>
            <tr class="hide">
                <td colspan="2">Стрибок у довжину з місця (см) </td>
                <td colspan="2">
                    <input name="jumpHeight" maxLength="4" class="form-control" />
                </td>
                <td colspan="2" name="jumpHeight"></td>
            </tr>
            <tr class="hide">
                <td colspan="2">Стрибок у довжину з місця (см) </td>
                <td colspan="2">
                    <input name="cooperTest" maxLength="4" class="form-control" />
                </td>
                <td colspan="2" name="cooperTest"></td>
            </tr>
            <tr class="hide">
                <td colspan="2">Стрибок у довжину з місця (см) </td>
                <td colspan="2">
                    <input name="estafeta" maxLength="4" class="form-control" />
                </td>
                <td colspan="2" name="estafeta"></td>
            </tr>
            <tr>
                <td colspan="2">Стрибок у довжину з місця (см) </td>
                <td colspan="2">
                    <input name="jumpLength" maxLength="4" class="form-control" />
                </td>
                <td colspan="2" name="jumpLength"></td>
            </tr>
            <tr>
                <td colspan="2">Підтягування (кількість разів) </td>
                <td colspan="2">
                    <input name="pull" maxLength="4" class="form-control" />
                </td>
                <td colspan="2" name="pull"></td>
            </tr>
            <tr>
                <td colspan="2">Бiг 100м</td>
                <td colspan="2">
                    <input name="running" maxLength="4" class="form-control" />
                </td>
                <td colspan="2" name="running"></td>
            </tr>
            <tr>
                <td colspan="2">Рівномірний біг  1500 м (хв, с)</td>
                <td colspan="2">
                    <input name='uniformRunning' maxLength="4" class="form-control" />
                </td>
                <td colspan="2" name='uniformRunning' ></td>
            </tr>
            <tr class="hide">
                <td colspan="2">Піднімання прямих ніг під кутом 90º лежачі на спині за 30 с (разів) </td>
                <td colspan="2">
                    <input name="inclineBody"maxLength="4" class="form-control" />
                </td>
                <td colspan="2" name="inclineBody"></td>
            </tr>
            <tr>
                <td colspan="2">Човниковий біг 4×9 м,с</td>
                <td colspan="2">
                    <input name="shuttleRunning" maxLength="4" class="form-control" />
                </td>
                <td colspan="2" name="shuttleRunning"></td>
            </tr>
            <tr class="hide">
                <td colspan="2">Тест «Фламінго» (кількість спроб) </td>
                <td colspan="2">
                    <input name="flamingoTest" maxLength="4" class="form-control" />
                </td>
                <td colspan="2" name="flamingoTest"></td>
            </tr>
            <tr>
                <td colspan="2">Нахил тулуба вперед з положення сидячи (см) </td>
                <td colspan="2">
                    <input name="inclines" maxLength="4" class="form-control" />
                </td>
                <td colspan="2" name="inclines"></td>
            </tr>
        </tbody>
    </table>
    <fieldset>
        <legend>Шкала вимірювання</legend>
    </fieldset>
    <div class="row color-grades">
        <div class="col-xs-2 col-xs-offset-1 danger-state">Низький</div>
        <div class="col-xs-2 low-danger-state">Середній</div>
        <div class="col-xs-2 low-success-state">Достатнiй</div>
        <div class="col-xs-2 higher-success">Високий</div>
    </div>
    <button class="btn btn-success form-control save">Зберегти</button>
    <button id='archive' class="btn btn-primary form-control">Архів</button>
</template>