<template id="shoulder-index">
    <fieldset class="form-group body-index">
        <%= render 'templates/physicaltab/tab_header' %>
        <fieldset>
            <legend>Показники</legend>

            <div class="form-group">
                <label for="shoulder" class="col-sm-6 control-label">Плечова дуга, см</label>
                <div class="col-sm-6">
                    <input id="shoulder" name="shoulder" class="form-control" placeholder="Плечова дуга, см" />
                </div>
            </div>

            <div class="form-group">
                <label for="shoulderWidth" class="col-sm-6 control-label">Ширина плечей, см</label>
                <div class="col-sm-6">
                    <input id="shoulderWidth" name='shoulderWidth' class="form-control" placeholder="Ширина плечей, см" />
                </div>
            </div>

            <button class="btn btn-primary form-control calculate">Розрахувати</button>
            <button id='archive' class="btn btn-primary form-control">Архів</button>
        </fieldset>
        <fieldset>
            <legend>Результати</legend>

            <div class="form-group">
                <label for="brachialIndex" class="col-sm-6 control-label">Плечовий індекс (%)</label>
                <div class="col-sm-6">
                    <input id="brachialIndex" name='brachialIndex' class="form-control" placeholder="Плечовий індекс" />
                </div>
            </div>

            <button class="btn btn-success form-control save">Зберегти</button>
        </fieldset>
        <fieldset>
            <legend>Оцінювання результатів</legend>
            <p>
                Якщо плечовий індекс менше 80% – постава є сильно-виражено сутулою; 81-89% – постава є
                середньо-виражено сутулою; 90-100% – нормальна; більше 110% – необхідно терміново звернутись до лікаря.
            </p>
        </fieldset>
    </fieldset>
</template>