<template id="definitions">
    <td name="calculatedProteins"></td>
    <td name="calculatedFats"></td>
    <td name="calculatedCarbohydrates"></td>
    <td name="calculatedCalories"></td>
</template>
