<template id="definitions">
    <td name="date"></td>
    <td name="age"></td>
    <td name="proteins"></td>
    <td name="fats"></td>
    <td name="carbohydrates"></td>
    <td name="calories"></td>
</template>
