<template id="motor_activities">
    <td>
        <span name="blresult"></span>
        <span name="blpercent"></span>
    </td>
    <td>
        <span name="slresult"></span>
        <span name="slpercent"></span>
    </td>
    <td>
        <span name="smlresult"></span>
        <span name="smlpercent"></span>
    </td>
    <td>
        <span name="mlresult"></span>
        <span name="mlpercent"></span>
    </td>
    <td>
        <span name="hlresult"></span>
        <span name="hlpercent"></span>
    </td>
</template>