<template id="motor_activities">
    <td>
        <span name="startHour"></span>: <span name="startMinute"></span>
    </td>
    <td name="description"></td>
    <td name="activityPeriod"></td>
    <td name="activityLevel"></td>
</template>