<template id="physical_state">
    <td name='age'></td>
    <td name='height'></td>
    <td name='weight'></td>
    <td name='circumference'></td>
    <td name='volume'></td>
    <td name='bodyindex'></td>
    <td name='lifeindex'></td>
</template>