<template id="physical_preparedness">
    <td name="pushUps"></td>
    <td name="raising"></td>
    <td name="jumpLength"></td>
    <td name="jumpHeight"></td>
    <td name="estafeta"></td>
    <td name="cooperTest"></td>
    <td name="inclineBody"></td>
    <td name="flamingoTest"></td>
    <td name="inclines"></td>
</template>