<template id="physical_preparedness">
    <td name="pushups"></td>
    <td name="raising"></td>
    <td name="jumplength"></td>
    <td name="jumpheight"></td>
    <td name="estapheta"></td>
    <td name="coopertest"></td>
    <td name="inclinebody"></td>
    <td name="flamingotest"></td>
    <td name="inclines"></td>
</template>