<template id="physical_health_states">
    <td name="date"></td>
    <td name="age"></td>
    <td name="height"></td>
    <td name="weight"></td>
    <td name="pressure"></td>
    <td name="volume"></td>
    <td name="wrist"></td>
    <td name="pulse"></td>
    <td name="pulseRecovering"></td>
    <td name="result"></td>
</template>