@charset "UTF-8";
.large-font {
  font-size: 2em;
}

.bolder {
  font-weight: bold;
}

.li-hyphen li {
  list-style-type: none;
}
.li-hyphen li:before {
  content: 'тАФ ';
}

.table-fixed {
  table-layout: fixed;
}
.table-fixed tr td, .table-fixed tr th {
  vertical-align: middle !important;
  text-align: center !important;
}
.table-fixed:after {
  display: block;
  content: '* - ╤А╨╡╨║╨╛╨╝╨╡╨╜╨┤╨╛╨▓╨░╨╜╨░ ╤Ц╨╜╤В╨╡╨╜╤Б╨╕╨▓╨╜╤Ц╤Б╤В╤М ╨▓╨┐╤А╨░╨▓';
  width: 200%;
}

.li-decimal {
  list-style-type: decimal;
}

.table-centered tr td, .table-centered tr th {
  vertical-align: middle !important;
  text-align: center !important;
}

.medium-font {
  font-size: 1.5em;
}

.danger-state {
  background: #DD161D;
}

.low-danger-state {
  background: #F24F04;
}

.low-success-state {
  background: #EAB300;
}

.success-state {
  background: #84DB20;
}

.higher-success {
  background: #10891F;
}
