@-webkit-keyframes notifier {
  from {
    opacity: 0;
  }
  15% {
    opacity: 1;
    top: 1vh;
  }
  85% {
    opacity: 1;
    top: 1vh;
  }
  to {
    opacity: 0;
    top: -20vh;
  }
}
@-moz-keyframes notifier {
  from {
    opacity: 0;
  }
  15% {
    opacity: 1;
    top: 1vh;
  }
  85% {
    opacity: 1;
    top: 1vh;
  }
  to {
    opacity: 0;
    top: -20vh;
  }
}
@-o-keyframes notifier {
  from {
    opacity: 0;
  }
  15% {
    opacity: 1;
    top: 1vh;
  }
  85% {
    opacity: 1;
    top: 1vh;
  }
  to {
    opacity: 0;
    top: -20vh;
  }
}
@keyframes notifier {
  from {
    opacity: 0;
  }
  15% {
    opacity: 1;
    top: 1vh;
  }
  85% {
    opacity: 1;
    top: 1vh;
  }
  to {
    opacity: 0;
    top: -20vh;
  }
}
