@charset "UTF-8";
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
  }
}
.spinner {
  min-width: 30px;
  min-height: 30px;
}
.spinner:before {
  position: absolute;
  margin-left: -13px;
  margin-top: -13px;
  height: 5vh;
  content: '';
  width: 5vh;
  left: 50%;
  top: 43%;
}
.spinner:after {
  position: absolute;
  font-size: 0.9em;
  color: #075871;
  content: '';
  left: 48.5%;
  top: 43%;
}
.spinner:not(:required):before {
  -webkit-animation: spinner 1s linear infinite;
  -moz-animation: spinner 1s linear infinite;
  -o-animation: spinner 1s linear infinite;
  animation: spinner 1s linear infinite;
  border: 3px solid #ccc;
  border-top-color: #03ade0;
  border-radius: 50%;
  content: '';
}

@-webkit-keyframes notifier {
  from {
    opacity: 0;
  }
  15% {
    opacity: 1;
    top: 1vh;
  }
  85% {
    opacity: 1;
    top: 1vh;
  }
  to {
    opacity: 0;
    top: -20vh;
  }
}
@-moz-keyframes notifier {
  from {
    opacity: 0;
  }
  15% {
    opacity: 1;
    top: 1vh;
  }
  85% {
    opacity: 1;
    top: 1vh;
  }
  to {
    opacity: 0;
    top: -20vh;
  }
}
@-o-keyframes notifier {
  from {
    opacity: 0;
  }
  15% {
    opacity: 1;
    top: 1vh;
  }
  85% {
    opacity: 1;
    top: 1vh;
  }
  to {
    opacity: 0;
    top: -20vh;
  }
}
@keyframes notifier {
  from {
    opacity: 0;
  }
  15% {
    opacity: 1;
    top: 1vh;
  }
  85% {
    opacity: 1;
    top: 1vh;
  }
  to {
    opacity: 0;
    top: -20vh;
  }
}
.large-font {
  font-size: 2em;
}

.bolder {
  font-weight: bold;
}

.li-hyphen li {
  list-style-type: none;
}
.li-hyphen li:before {
  content: '— ';
}

.li-decimal {
  list-style-type: decimal;
}

.table-centered tr td, .table-centered tr th {
  vertical-align: middle !important;
  text-align: center !important;
}

.medium-font {
  font-size: 1.5em;
}

.danger-state {
  background: #DD161D;
}

.low-danger-state {
  background: #F24F04;
}

.low-success-state {
  background: #EAB300;
}

.success-state {
  background: #84DB20;
}

.higher-success {
  background: #10891F;
}

@media screen and (max-width: 1100px) {
  body.container section.row .fade-in > a[class] {
    min-height: 110px;
    min-width: 110px;
  }
}
@-webkit-keyframes slidedown {
  from {
    margin-top: -15%;
  }
  to {
    margin-top: 0;
  }
}
@-moz-keyframes slidedown {
  from {
    margin-top: -15%;
  }
  to {
    margin-top: 0;
  }
}
@-o-keyframes slidedown {
  from {
    margin-top: -15%;
  }
  to {
    margin-top: 0;
  }
}
@keyframes slidedown {
  from {
    margin-top: -15%;
  }
  to {
    margin-top: 0;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slide-down {
  -webkit-animation: slidedown 0.8s;
  -moz-animation: slidedown 0.8s;
  -o-animation: slidedown 0.8s;
  animation: slidedown 0.8s;
}

.fade-in {
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
}

.glyphicon-folder-open {
  transform: rotate(90deg);
}

.modal-dialog.modal-lg {
  min-width: 95vh;
}

body.container {
  min-width: 980px;
}
body.container .logo {
  background: url(../../favicon.ico) 0 1px no-repeat;
  background-size: 100%;
  width: 50px;
}
body.container .you-should-know p {
  text-indent: 1.5em;
}
body.container section.row button.btn {
  margin: 0.5em auto;
}
body.container section.row fieldset .form-control {
  margin-bottom: 1em;
}
body.container section.row .profile .medium-font input {
  top: 0.2em;
}
body.container section.row .fade-in > a {
  box-shadow: 2px 2px 0 #888;
  border: 1px solid #000;
  border-radius: 5%;
  min-height: 170px;
  min-width: 170px;
  cursor: pointer;
  height: 160px;
  margin: 10% 4% 4%;
}
body.container section.row .fade-in > a:hover {
  box-shadow: 1px 1px 20px #009933;
}
body.container section.row .profile-fields > input {
  margin-top: 1em;
}
body.container section.row .physical-preparedness table tr td, body.container section.row .physical-preparedness table tr th {
  vertical-align: middle !important;
  text-align: center !important;
}
body.container section.row .physical-preparedness table {
  border-right: none;
}
body.container section.row .physical-preparedness table td[name] {
  font-weight: bold;
  color: #fff;
}
body.container section.row .physical-preparedness .color-grades .col-xs-2 {
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  font-weight: bold;
  border: 2px solid;
  height: 4.5em;
  float: none;
  color: #fff;
}
body.container section.row .physical-preparedness fieldset.toggle-show {
  cursor: pointer;
}
body.container section.row .body-index ul.nav-stacked {
  min-width: 200px;
}
body.container section.row .body-index table tr td, body.container section.row .body-index table tr th {
  vertical-align: middle !important;
  text-align: center !important;
}
body.container section.row .motor-activity table tr td, body.container section.row .motor-activity table tr th {
  vertical-align: middle !important;
  text-align: center !important;
}
body.container section.row .motor-activity table tr td > .form-control {
  margin-bottom: 0;
}
body.container section.row .motor-activity table tr td > input[type=number] {
  border: 1px solid #cccccc;
  padding-left: 5px;
  border-radius: 3px;
}
body.container section.row .motor-activity table tr .glyphicon {
  cursor: pointer;
  font-size: 1.5em;
}
body.container section.row .motor-activity table tr .glyphicon.glyphicon-remove {
  border-color: #d43f3a;
  color: #d9534f;
}
body.container section.row .motor-activity table tr .glyphicon.glyphicon-remove:hover {
  border-color: #ac2925;
  color: #ac2925;
}
body.container section.row .motor-activity table tr .glyphicon.glyphicon-plus {
  border-color: #4cae4c;
  color: #5cb85c;
}
body.container section.row .motor-activity table tr .glyphicon.glyphicon-plus:hover {
  border-color: #398439;
  color: #449d44;
}
body.container section.row .physical-state table tr td, body.container section.row .physical-state table tr th {
  vertical-align: middle !important;
  text-align: center !important;
}
body.container section.row .physical-health table td:first-child {
  width: 130px;
}
body.container section.row .definition input.search {
  background: none !important;
}
body.container section.row .definition table tr td, body.container section.row .definition table tr th {
  vertical-align: middle !important;
  text-align: center !important;
}
body.container section.row .definition .count {
  max-width: 50px;
}
body.container section.row .phys-state-form .form-control {
  margin-bottom: 1em;
}
body.container section.row aside .nav-stacked {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 1em;
}
body.container section.row aside .nav-stacked li:last-child a {
  border-bottom: none;
}
body.container section.row aside .nav-stacked li a {
  border: none;
  border-bottom: 1px solid lightgrey;
}
body.container section.row aside .nav-stacked li a:hover {
  background: #337ab7;
  cursor: pointer;
  color: #fff;
}

.flash-message {
  white-space: nowrap;
  position: fixed;
  width: 70vw;
  opacity: 0;
  left: 15vw;
  top: -20vh;
}
.flash-message.notify {
  -webkit-animation: notifier 6s;
  -moz-animation: notifier 6s;
  -o-animation: notifier 6s;
  animation: notifier 6s;
}
.flash-message.alert-danger strong:before {
  content: 'Ошибка!';
}
.flash-message.alert-warning strong:before {
  content: 'Прудпреждение!';
}
.flash-message.alert-success strong:before {
  content: 'Обновлено!';
}
.flash-message.alert-info strong:before {
  content: 'К сведению!';
}

.date-field {
  width: 100px;
}

.recommendations h1,
.recommendations h2,
.recommendations h3,
.recommendations h4,
.recommendations h5 {
  text-align: center;
  font-weight: bold;
}
.recommendations .image-wrapper {
  text-align: center;
}
.recommendations .image-wrapper img {
  border: 1px solid black;
}
.recommendations p,
.recommendations li {
  text-align: justify;
}
.recommendations table tr td, .recommendations table tr th {
  vertical-align: middle !important;
  text-align: center !important;
}

.complex-self-improving h1,
.complex-self-improving h2,
.complex-self-improving h3,
.complex-self-improving h4,
.complex-self-improving h5 {
  text-align: center;
  font-weight: bold;
}
.complex-self-improving p,
.complex-self-improving li {
  text-align: justify;
}
