@charset "UTF-8";
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
  }
}
.spinner {
  min-width: 30px;
  min-height: 30px;
}
.spinner:before {
  position: absolute;
  margin-left: -13px;
  margin-top: -13px;
  height: 5vh;
  content: '';
  width: 5vh;
  left: 50%;
  top: 43%;
}
.spinner:after {
  content: 'Loading...';
  position: absolute;
  font-size: 0.9em;
  color: #075871;
  left: 47.5%;
  top: 43%;
}
.spinner:not(:required):before {
  -webkit-animation: spinner 1s linear infinite;
  -moz-animation: spinner 1s linear infinite;
  -o-animation: spinner 1s linear infinite;
  animation: spinner 1s linear infinite;
  border: 2px solid #ccc;
  border-top-color: #03ade0;
  border-radius: 50%;
  content: '';
}

@-webkit-keyframes notifier {
  from {
    top: -15vh;
    opacity: 0;
  }
  15% {
    opacity: 1;
    top: 10vh;
  }
  85% {
    opacity: 1;
    top: 10vh;
  }
  to {
    top: -15vh;
    opacity: 0;
  }
}
@-moz-keyframes notifier {
  from {
    top: -15vh;
    opacity: 0;
  }
  15% {
    opacity: 1;
    top: 10vh;
  }
  85% {
    opacity: 1;
    top: 10vh;
  }
  to {
    top: -15vh;
    opacity: 0;
  }
}
@-o-keyframes notifier {
  from {
    top: -15vh;
    opacity: 0;
  }
  15% {
    opacity: 1;
    top: 10vh;
  }
  85% {
    opacity: 1;
    top: 10vh;
  }
  to {
    top: -15vh;
    opacity: 0;
  }
}
@keyframes notifier {
  from {
    top: -15vh;
    opacity: 0;
  }
  15% {
    opacity: 1;
    top: 10vh;
  }
  85% {
    opacity: 1;
    top: 10vh;
  }
  to {
    top: -15vh;
    opacity: 0;
  }
}
@-webkit-keyframes slidedown {
  from {
    margin-top: -15%;
  }
  to {
    margin-top: 0;
  }
}
@-moz-keyframes slidedown {
  from {
    margin-top: -15%;
  }
  to {
    margin-top: 0;
  }
}
@-o-keyframes slidedown {
  from {
    margin-top: -15%;
  }
  to {
    margin-top: 0;
  }
}
@keyframes slidedown {
  from {
    margin-top: -15%;
  }
  to {
    margin-top: 0;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slide-down {
  -webkit-animation: slidedown 0.8s;
  -moz-animation: slidedown 0.8s;
  -o-animation: slidedown 0.8s;
  animation: slidedown 0.8s;
}

.fade-in {
  -webkit-animation: fadein 0.8s;
  -moz-animation: fadein 0.8s;
  -o-animation: fadein 0.8s;
  animation: fadein 0.8s;
}

.glyphicon-folder-open {
  transform: rotate(90deg);
}

section.row .fade-in > a {
  /*    min-width: 100px;
      border-radius: 5%;
      cursor: pointer;
      height: 150px;
      margin: 4%;*/
  /*    &:hover {
        box-shadow: 1px 1px 20px $green;
      }*/
}
section.row .profile-fields > input {
  margin-top: 1em;
}
section.row .body-index ul.nav-stacked {
  min-width: 200px;
}
section.row .body-index fieldset .form-control {
  margin-bottom: 1em !important;
}
section.row .body-index table tr td, section.row .body-index table tr th {
  vertical-align: middle;
  text-align: center;
}
section.row .physical-state table tr td, section.row .physical-state table tr th {
  vertical-align: middle;
  text-align: center;
}
section.row .phys-state-form .form-control {
  margin-bottom: 1em;
}
section.row aside .nav-stacked {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 1em;
}
section.row aside .nav-stacked li:last-child a {
  border-bottom: none;
}
section.row aside .nav-stacked li a {
  border: none;
  border-bottom: 1px solid lightgrey;
}
section.row aside .nav-stacked li a:hover {
  background: #337ab7;
  cursor: pointer;
  color: #fff;
}

.flash-message {
  white-space: nowrap;
  position: absolute;
  left: 35vw;
  top: -10vh;
}
.flash-message.notify {
  -webkit-animation: notifier 6s;
  -moz-animation: notifier 6s;
  -o-animation: notifier 6s;
  animation: notifier 6s;
}
.flash-message.alert-danger strong:before {
  content: 'Ошибка!';
}
.flash-message.alert-warning strong:before {
  content: 'Прудпреждение!';
}
.flash-message.alert-success strong:before {
  content: 'Обновлено!';
}
.flash-message.alert-info strong:before {
  content: 'К сведению!';
}
