<!DOCTYPE html>
<html>
    <head>
        <title>Gym App</title>
        <meta charset='UTF-8'/>
        <!--<link rel="stylesheet" href="css-libs.css" />
        <link rel="stylesheet" href="compass.css" />-->
        <%= stylesheet_link_tag 'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
        <!--<script src="client.js"></script>-->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <%= csrf_meta_tags %>
        <template id="signin">
            <form class="form-horizontal slide-down">
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-6">
                        <input type="email" name='email' class="form-control input-lg" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>

                    <div class="col-sm-6">
                        <input type="password" name='password' class="form-control input-lg" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Запам'ятати мене
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <button class="btn btn-lg btn-success">Увійти</button>
                        <button class="btn btn-lg btn-default cancel">Вiдмiнити</button>
                    </div>
                </div>
            </form>
        </template>
        <template id="register">
            <form class="form-horizontal slide-down">
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>

                    <div class="col-sm-6">
                        <input type="email" name='email' class="form-control input-lg" placeholder="Email"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>

                    <div class="col-sm-6">
                        <input type="password" name='password' class="form-control input-lg" placeholder="Password"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>

                    <div class="col-sm-6">
                        <input type="password" name='password_confirmation' class="form-control input-lg" placeholder="Password"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Запам'ятати мене
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <button class="btn btn-lg btn-success">Зареструватися</button>
                        <button class="btn btn-lg btn-default cancel">Вiдмiнити</button>
                    </div>
                </div>
            </form>
        </template>
        <template id="home">
            <a href='#infoTab/getting-started' class="getting-started col-xs-2" title="Інструкція по роботі з програмою">Инструкция</a>
            <a href='#infoTab/my-phis-state' class="my-phis-state col-xs-2">Физ состояние</a>
            <a href='#infoTab/info-resources' class="info-resources col-xs-2">Ифнорм. ресурс</a>
            <a href='#infoTab/recommendations' class="recommendations col-xs-2">Рекомендации</a>
            <a href='#infoTab/you-should-know' class="you-should-know col-xs-2">Вы должны знать</a>
            <a href='#infoTab/complex-self-improving' class="complex-self-improving col-xs-2">Селф импрув</a>
            <a href='#infoTab/notebook-for-exercices' class="notebook-for-exercices col-xs-2">Дневник</a>
        </template>
        <template id="profile">
            <form class="form-group col-xs-6 col-xs-offset-3">
                <div class="form-group">
                    <input class="form-control input-lg" name='lastName' placeholder="Прізвище"/>
                </div>
                <div class="form-group">
                    <input class="form-control input-lg" name='firstName' placeholder="Ім'я"/>
                </div>
                <div class="form-group">
                    <input class="form-control input-lg" name='surname' placeholder="По батькові"/>
                </div>
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="gender" value="male" checked/>
                            Чоловік
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="gender" value="female"/>
                            Дівчина
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control input-lg" name='school' placeholder="Школа"/>
                </div>
                <div class="form-group">
                    <input class="form-control input-lg" name='group' placeholder="Клас"/>
                </div>
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="household" value="full" checked/>
                            повна
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="household" value="incomplete"/>
                            неповна
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="household" value="orphan"/>
                            сирота
                        </label>
                    </div>
                </div>
                <button class="btn btn-lg btn-success save">Зберегти</button>
                <button class="btn btn-lg btn-default cancel">Відмінити</button>
            </form>
        </template>
        <template id="getting-started">
            <p class="lead">
                <mark>Основна мета</mark> запропонованої програми самостійних занять спрямована на підвищення інтересу та мотиваційних
                пріоритетів до самостійної діяльності школярів, збереження стану здоров'я, підтримки високого рівня фізичної
                й розумової роботоздатності.
                Розроблена програмасамостійних занять з фізичного виховання для старшокласників виконує ряд функцій:
            </p>
            <ul class="lead">
                <li>навчальна (опрацювання першоджерел, що сприяє більш глибокому осмисленню вже засвоєних знань з
                    самостійної роботи);
                </li>
                <li>пізнавальна (опанування новими знаннями, в області самостійних занять з фізичного виховання);</li>
                <li>коригуюча (осмислення новітніх теорій, концепцій, категорій, підходів до визначення суті відомих понять
                    самостійної діяльності);
                </li>
                <li>стимулююча (така організація самостійної роботи, в ході якої старшокласник отримує задоволення від
                    результатів пізнавальної діяльності);
                </li>
                <li>виховна (спрямована на формування в особистості школяра самовиховання, самоцілеспрямованості,
                    відповідальності, самодисциплінованості);
                </li>
                <li>розвиваюча (спрямована на розвиток самостійності, творчості, дослідницьких вмінь школяра).</li>
                <li>Розроблена комп’ютерна програма дозволяє здійснювати контроль, за наданням теоретичних відомостей та
                    відповідного навантаження до організації та проведення самостійних занять з фізичного виховання виходячи
                    з інтересів та мотивів до занять фізичними вправами, рівня фізичного розвитку, фізичної підготовленості,
                    соматичного здоров'я та рухової активності дітей старшого шкільного віку. Програма побудована таким
                    чином, що дозволяє легко користуватися нею дітям старшого шкільного віку.
                </li>
            </ul>
        </template>
        <template id="my-phis-state">
            <aside class="btn-group-vertical col-xs-3" role="group" >
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="#infoTab/my-phis-state/body-index">Індекс маси тіла</a>
                    </li>
                    <li>
                        <a href='#infoTab/my-phis-state/physical-state'>Физичний розвиток</a>
                    </li>
                    <li>
                        <a href='#infoTab/my-phis-state/shoulder-index'>Плечовий індекс та постава</a>
                    </li>
                    <li>
                        <a href='#infoTab/my-phis-state/physical-preparedness'>Фізична підготовленіст</a>
                    </li>
                    <li>
                        <a href='#infoTab/my-phis-state/physical-health'>Фізичне здоров’я по Г.Л. Апанасенко</a>
                    </li>
                    <li>
                        <a href='#infoTab/my-phis-state/motor-activity'>Рухова активність</a>
                    </li>
                    <li>
                        <a href='#infoTab/my-phis-state/definition'>Визначення калорійності</a>
                    </li>
                </ul>
            </aside>
            <div class="form-container col-xs-7"></div>
        </template>
        <template id="info-resources">info-resources</template>
        <template id="recommendations">recommendations</template>
        <template id="you-should-know">you-should-know</template>
        <template id="complex-self-improving">complex-self-improving</template>
        <template id="notebook-for-exercices">notebook-for-exercices</template>
        <template id="definition">definition</template>
        <template id="activity-row">
            <td>
                <input class='form-control' name="startDate" />
            </td>
            <td colspan="2">
                <input class='form-control' name="description" />
            </td>
            <td>
                <input class='form-control' name="activityPeriod" />
            </td>
            <td>
                <input class='form-control' name="activityLevel" />
            </td>
            <td>
                <span class="glyphicon glyphicon-remove"></span>
            </td>
        </template>
        <template id="motor-activity">
            <fieldset>
                <legend>Карта реєстрації рухової активності</legend>
            </fieldset>
            <table class="table table-striped table-hover">
                <thead>
                    <th>Час початку діяльності</th>
                    <th colspan="2">Загальний зміст діяльності</th>
                    <th>Тривалість діяльності</th>
                    <th>Рівень рухової активності</th>
                    <th>
                        <span class="glyphicon glyphicon-plus"></span>
                    </th>
                </thead>
                <tbody class="activities"></tbody>
            </table>
            <button class="btn btn-primary form-control">Розрахувати</button>
            <fieldset>
                <legend>Отриманий результат:</legend>
            </fieldset>
            <table class="table table-striped table-hover">
                <thead>
                <th colspan="2">Рівень рухової активності</th>
                <th colspan="2">Загальна кількість часу (год.,хв.)</th>
                <th colspan="2">Відсоток на добу (%)</th>
                </thead>
                <tbody>
                <tr>
                    <td colspan="2">Базовий рівень</td>
                    <td colspan="2" name="basic-count"></td>
                    <td colspan="2" name="basic-percent"></td>
                </tr>
                <tr>
                    <td colspan="2">Сидячий рівень</td>
                    <td colspan="2" name="sitting-count"></td>
                    <td colspan="2" name="sitting-percent"></td>
                </tr>
                <tr>
                    <td colspan="2">Малий рівень</td>
                    <td colspan="2" name="small-count"></td>
                    <td colspan="2" name="small-percent"></td>
                </tr>
                <tr>
                    <td colspan="2">Середній рівень</td>
                    <td colspan="2" name="middle-count"></td>
                    <td colspan="2" name="middle-percent"></td>
                </tr>
                <tr>
                    <td colspan="2">Високий рівень </td>
                    <td colspan="2" name="high-count"></td>
                    <td colspan="2" name="high-percent"></td>
                </tr>
                </tbody>
            </table>
            <svg width="50" height="50">
                <circle></circle>
                <circle></circle>
                <circle></circle>
                <circle></circle>
                <circle></circle>
            </svg>
        </template>
        <template id="physical-health">
            <input name='hight' class="form-control" placeholder="Зріст, см" />
            <input name='weight' class="form-control" placeholder="Вага, кг" />
            <input name='circumference' class="form-control" placeholder="Окружність грудноі клітки, см" />
            <input name='volume' class="form-control" placeholder="Життєва ємність легенів, мл" />
            <button class="btn btn-primary form-control">Розрахувати</button>
            <fieldset>
                <legend>Результати</legend>
                <input name='bodyindex' class="form-control" placeholder="Індекс маси тіла" />
                <input name='lifeindex' class="form-control" placeholder="Життєвий індекс" />
            </fieldset>
        </template>
        <template id="physical-preparedness">phys prepar</template>
        <template id="body-index">
            <fieldset>
                <legend>Введіть дані</legend>

                <div class="form-group">
                    <label for="height" class="col-sm-6 control-label">Зріст, см</label>
                    <div class="col-sm-6">
                        <input id="height" name='height' class="form-control" placeholder="Зріст, см" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="weight" class="col-sm-6 control-label">Вага, кг</label>
                    <div class="col-sm-6">
                        <input id="weight" name='weight' class="form-control" placeholder="Вага, кг" />
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Результати</legend>

                <div class="form-group">
                    <label for="bodyindex" class="col-sm-6 control-label">Індекс маси тіла</label>
                    <div class="col-sm-6">
                        <input id="bodyindex" name='bodyindex' class="form-control" placeholder="Індекс маси тіла" />
                    </div>
                </div>

                <button class="btn btn-primary form-control">Зберегти</button>
            </fieldset>
            <fieldset>
                <legend>Класифікація</legend>
            </fieldset>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="7">Класифікація маси тіла і частота виникнення хронічних інфекційних захворювань</th>
                    </tr>
                    <tr>
                        <th rowspan="2">Класифікація</th>
                        <th rowspan="2">ІМТ, кг/м<sup>2</sup></th>
                        <th colspan="3">Ймовірність розвитку захворювань</th>
                    </tr>
                    <tr>
                        <th>Серцево судинних</th>
                        <th>Бронхо-легеневих</th>
                        <th>Ендокринних</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-im-range="{ min: 0, max: 18.5 }">
                        <td>Недостатня маса</td>
                        <td>менше 18.5</td>
                        <td>Низька</td>
                        <td>Збільшена</td>
                        <td>Низька</td>
                    </tr>
                    <tr data-im-range="{ min: 18.5, max: 24.9 }">
                        <td>Норма</td>
                        <td>18.5-24.9</td>
                        <td>Низька</td>
                        <td>Низька</td>
                        <td>Низька</td>
                    </tr>
                    <tr data-im-range="{ min: 25, max: 29.9 }">
                        <td>Передожиріння (гладкість)</td>
                        <td>25.0-29.9</td>
                        <td>Середня</td>
                        <td>Низька</td>
                        <td>Низька</td>
                    </tr>
                    <tr data-im-range="{ min: 30.0, max: 34.9 }">
                        <td>Ожиріння I ступеня</td>
                        <td>30.0-34.9</td>
                        <td>Збільшена</td>
                        <td>Низька</td>
                        <td>Середня</td>
                    </tr>
                    <tr data-im-range="{ min: 35, max: 39.9 }">
                        <td>Ожиріння II ступеня</td>
                        <td>35.0-39.9</td>
                        <td>Значно збільшена</td>
                        <td>Можливо збільшена</td>
                        <td>Збільшена</td>
                    </tr>
                    <tr data-im-range="{ min: 40, max: 200 }">
                        <td>Ожиріння III ступеня</td>
                        <td>більше 40.0</td>
                        <td>Істотно збільшена</td>
                        <td>Збільшена</td>
                        <td>Значно або істотно збільшена</td>
                    </tr>
                </tbody>
            </table>
        </template>
        <template id="shoulder-index">
            <fieldset class="form-group body-index">
                <h3>
                    <span name="lastName"></span>
                    <span name="firstName"></span>
                    <span name="surname"></span>
                    (<span name="gender"></span>)
                </h3>
                <fieldset>
                    <div class="form-group">
                        <label for="age" class="col-sm-6 control-label">Вiк</label>
                        <div class="col-sm-6">
                            <input id="age" name="age" class="form-control" type="text" placeholder="Вiк" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="date" class="col-sm-6 control-label">Дата</label>
                        <div class="col-sm-6">
                            <input id="date" name="date" class="form-control" type="text" placeholder="Дата" />
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Показники</legend>

                    <div class="form-group">
                        <label for="shoulder" class="col-sm-6 control-label">Плечова дуга, см</label>
                        <div class="col-sm-6">
                            <input id="shoulder" name="shoulder" class="form-control" placeholder="Плечова дуга, см" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="shoulderWidth" class="col-sm-6 control-label">Ширина плечей, см</label>
                        <div class="col-sm-6">
                            <input name='shoulderWidth' class="form-control" placeholder="Ширина плечей, см" />
                        </div>
                    </div>

                    <button class="btn btn-primary form-control">Розрахувати</button>
                </fieldset>
                <fieldset>
                    <legend>Результати</legend>

                    <div class="form-group">
                        <label for="brachialIndex" class="col-sm-6 control-label">Плечовий індекс</label>
                        <div class="col-sm-6">
                            <input id="brachialIndex" name='brachialIndex' class="form-control" placeholder="Плечовий індекс" />
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Оцінювання результатів</legend>
                    <p>
                        Якщо плечовий індекс менше 80% – постава є сильно-виражено сутулою; 81-89% – постава є
                        середньо-виражено сутулою; 90-100% – нормальна; більше 110% – необхідно терміново звернутись до лікаря.
                    </p>
                </fieldset>
            </fieldset>
        </template>
        <template id="physical-state">
            <fieldset class="form-group body-index">
                <h3>
                    <span name="lastName"></span>
                    <span name="firstName"></span>
                    <span name="surname"></span>
                    (<span name="gender"></span>)
                </h3>
                <fieldset>
                    <div class="form-group">
                        <label for="age" class="col-sm-6 control-label">Вiк</label>
                        <div class="col-sm-6">
                            <input id="age" name="age" class="form-control" type="text" placeholder="Вiк" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="date" class="col-sm-6 control-label">Дата</label>
                        <div class="col-sm-6">
                            <input id="date" name="date" class="form-control" type="text" placeholder="Дата" />
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Показники</legend>

                    <div class="form-group">
                        <label for="height" class="col-sm-6 control-label">Зріст, см</label>
                        <div class="col-sm-6">
                            <input id="height" name='height' class="form-control" placeholder="Зріст, см" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="weight" class="col-sm-6 control-label">Вага, кг</label>
                        <div class="col-sm-6">
                            <input id="weight" name='weight' class="form-control" placeholder="Вага, кг" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="circumference" class="col-sm-6 control-label">Окружність грудноі клітки, см</label>
                        <div class="col-sm-6">
                            <input id="circumference" name="circumference" class="form-control" placeholder="Окружність грудноі клітки" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="volume" class="col-sm-6 control-label">Життєва ємність легенів, мл</label>
                        <div class="col-sm-6">
                            <input id="volume" name="volume" class="form-control" placeholder="Життєва ємність легенів, мл" />
                        </div>
                    </div>

                    <button class="btn btn-primary form-control">Розрахувати</button>
                </fieldset>
                <fieldset>
                    <legend>Результати</legend>

                    <div class="form-group">
                        <label for="bodyindex" class="col-sm-6 control-label">Індекс маси тіла</label>
                        <div class="col-sm-6">
                            <input id="bodyindex" name='bodyindex' class="form-control" placeholder="Індекс маси тіла" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lifeindex" class="col-sm-6 control-label">Життєвий індекс</label>
                        <div class="col-sm-6">
                            <input id="lifeindex" name='lifeindex' class="form-control" placeholder="Життєвий індекс" />
                        </div>
                    </div>
                </fieldset>
            </fieldset>
            <fieldset>
                <legend>Оцінка життєвого індексу</legend>
            </fieldset>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th rowspan="2">Вік, років </th>
                        <th colspan="3">Хлопець</th>
                        <th colspan="3">Дівчина</th>
                    </tr>
                    <tr>
                        <th>Менше норми</th>
                        <th>Норма</th>
                        <th>Більше норми</th>
                        <th>Менше норми</th>
                        <th>Норма</th>
                        <th>Більше норми</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>15-16</td>
                        <td>≥52</td>
                        <td>53-57</td>
                        <td>58≤</td>
                        <td>≥45</td>
                        <td>46-51</td>
                        <td>52≤</td>
                    </tr>
                    <tr>
                        <td>17-18</td>
                        <td>≥54</td>
                        <td>55-63</td>
                        <td>63≤</td>
                        <td>≥48</td>
                        <td>48-55</td>
                        <td>56≤</td>
                    </tr>
                </tbody>
            </table>

            <fieldset>
                <legend>Антропометричні стандарти фізичного розвитку хлопців</legend>
            </fieldset>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th rowspan="2">Вік</th>
                        <th colspan="5">Рівні</th>
                    </tr>
                    <tr>
                        <th>Низький</th>
                        <th>Нижче за середній</th>
                        <th>Середній</th>
                        <th>Вище за середній</th>
                        <th>Високий</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="6">
                            <strong>Довжина тіла, см</strong>
                        </td>
                    </tr>

                    <tr>
                        <td>15</td>
                        <td>≤158,6</td>
                        <td>158,6 - 162,5</td>
                        <td>162,5 - 173,5</td>
                        <td>173,5 - 177,6</td>
                        <td>177,6≤</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>≤163,2</td>
                        <td>163,2 - 166,8</td>
                        <td>166,8 - 177,8</td>
                        <td>177,8 - 182,0</td>
                        <td>182,0≤</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>≤166,6</td>
                        <td>166,6 - 171,6</td>
                        <td>171,6 - 181,6</td>
                        <td>181,6 - 186,0</td>
                        <td>186,0≤</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>≤172,4</td>
                        <td>172,4 - 182,9</td>
                        <td>182,9 - 186,4</td>
                        <td>186,4 - 189,2</td>
                        <td>189,2≤</td>
                    </tr>

                    <tr>
                        <td colspan="6">
                            <strong>Маса тіла, кг</strong>
                        </td>
                    </tr>

                    <tr>
                        <td>15</td>
                        <td>≤43,0</td>
                        <td>43,0 - 48,3</td>
                        <td>48,3 - 62,8</td>
                        <td>62,8 - 70,0</td>
                        <td>70,0≤</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>≤48,3</td>
                        <td>48,3 - 54,0</td>
                        <td>54,0 - 69,6</td>
                        <td>69,6 - 76,5</td>
                        <td>76,5≤</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>≤54,6</td>
                        <td>54,6 - 59,8</td>
                        <td>59,8 - 74,0</td>
                        <td>74,0 - 80,1</td>
                        <td>80,1≤</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>≤59,9</td>
                        <td>59,9 - 75,3</td>
                        <td>75,3 - 81,4</td>
                        <td>81,4 - 88,7</td>
                        <td>88,7≤</td>
                    </tr>

                    <tr>
                        <td colspan="6">
                            <strong>Окружність грудної клітки, см</strong>
                        </td>
                    </tr>

                    <tr>
                        <td>15</td>
                        <td>≤73,4</td>
                        <td>73,4 - 79,1</td>
                        <td>79,1 - 82,3</td>
                        <td>82,3 - 86,7</td>
                        <td>86,7≤</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>≤79,1</td>
                        <td>79,1 - 83,6</td>
                        <td>83,4 - 87,6</td>
                        <td>87,6 - 90,7</td>
                        <td>90,7≤</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>≤83,4</td>
                        <td>83,4 - 85,6</td>
                        <td>85,6 - 89,7</td>
                        <td>89,7 - 92,5</td>
                        <td>82,5≤</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td colspan="6">
                            <strong>Життєва ємність легень, мл</strong>
                        </td>
                    </tr>

                    <tr>
                        <td>15</td>
                        <td>≤2000</td>
                        <td>2000 - 2400</td>
                        <td>2400 - 2700</td>
                        <td>2700 - 3000</td>
                        <td>3000≤</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>≤2100</td>
                        <td>2100 - 2500</td>
                        <td>2500 - 3000</td>
                        <td>3000 - 3400</td>
                        <td>3400≤</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>≤2700</td>
                        <td>2700 - 3100</td>
                        <td>3100 - 3520</td>
                        <td>3520 - 3700</td>
                        <td>3700≤</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>≤3200</td>
                        <td>3200 - 3600</td>
                        <td>3600 - 3800</td>
                        <td>3800 - 4000</td>
                        <td>4000≤</td>
                    </tr>
                </tbody>
            </table>

            <fieldset>
                <legend>Антропометричні стандарти фізичного розвитку дівчат</legend>
            </fieldset>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th rowspan="2">Вік</th>
                        <th colspan="5">Рівні</th>
                    </tr>
                    <tr>
                        <th>Низький</th>
                        <th>Нижче за середній</th>
                        <th>Середній</th>
                        <th>Вище за середній</th>
                        <th>Високий</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="6">
                            <strong>Довжина тіла, см</strong>
                        </td>
                    </tr>

                    <tr>
                        <td>15</td>
                        <td>≤154,4</td>
                        <td>154,4 - 157,2</td>
                        <td>157,2 - 166,0</td>
                        <td>166,0 - 169,2</td>
                        <td>169,2≤</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>≤155,2</td>
                        <td>155,2-158,0</td>
                        <td>158,0-166,8</td>
                        <td>166,8-170,2</td>
                        <td>170,2≤</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>≤155,8</td>
                        <td>155,8 - 158,6</td>
                        <td>158,6 - 169,2</td>
                        <td>169,2 - 170,4</td>
                        <td>170,4≤</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>≤159,6</td>
                        <td>159,6-169,0</td>
                        <td>169,0-170,1</td>
                        <td>170,1-172,9</td>
                        <td>172,9≤</td>
                    </tr>

                    <tr>
                        <td colspan="6">
                            <strong>Маса тіла, кг</strong>
                        </td>
                    </tr>

                    <tr>
                        <td>15</td>
                        <td>≤46,8</td>
                        <td>46,8 - 50,6</td>
                        <td>50,6 - 60,4</td>
                        <td>60,4 - 66,5</td>
                        <td>66,5≤</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>≤48,4</td>
                        <td>48,4 - 51,8</td>
                        <td>51,8 - 61,3</td>
                        <td>61,3 - 67,6</td>
                        <td>67,6≤</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>≤49,2</td>
                        <td>49,2 - 52,9</td>
                        <td>52,9 - 61,9</td>
                        <td>61,9 - 68,0</td>
                        <td>68,0≤</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>≤50,4</td>
                        <td>50,4 - 55,9</td>
                        <td>55,9 - 62,7</td>
                        <td>62,7 - 69,1</td>
                        <td>69,1≤</td>
                    </tr>

                    <tr>
                        <td colspan="6">
                            <strong>Окружність грудної клітки, см</strong>
                        </td>
                    </tr>

                    <tr>
                        <td>15</td>
                        <td>≤67,3</td>
                        <td>67,3 - 70,1</td>
                        <td>70,1 - 74,5</td>
                        <td>74,5 - 77,6</td>
                        <td>77,6≤</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>≤69,4</td>
                        <td>69,4 - 72,6</td>
                        <td>72,6 - 75,0</td>
                        <td>75,0 - 78,2</td>
                        <td>78,2≤</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>≤70,9</td>
                        <td>70,9 - 73,4</td>
                        <td>73,4 - 76,1 </td>
                        <td>76,1 - 79,8</td>
                        <td>79,8≤</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>≤71,6</td>
                        <td>71,6 - 74,3</td>
                        <td>74,3 - 76,9</td>
                        <td>76,9 - 80,1</td>
                        <td>80,1</td>
                    </tr>

                    <tr>
                        <td colspan="6">
                            <strong>Життєва ємність легень, мл</strong>
                        </td>
                    </tr>

                    <tr>
                        <td>15</td>
                        <td>≤2000</td>
                        <td>2000 - 2300</td>
                        <td>2300 - 2600</td>
                        <td>2600 - 2800</td>
                        <td>2800≤</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>≤2100</td>
                        <td>2100 - 2400</td>
                        <td>2400 - 2750</td>
                        <td>2750 - 3000</td>
                        <td>3000≤</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>≤2150</td>
                        <td>2150 - 2450</td>
                        <td>2450 - 2800</td>
                        <td>2800 - 3050</td>
                        <td>3050≤</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>≤2350</td>
                        <td>2350 - 2600</td>
                        <td>2600 - 3000</td>
                        <td>3000 - 3250</td>
                        <td>3250≤</td>
                    </tr>
                </tbody>
            </table>
        </template>
    </head>

    <body class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#accessed/home">Brand</a>
                </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span
                                    class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#accessed/signin">Логин</a></li>
                                <li><a href="#register">Регистрация</a></li>
                                <li class="divider"></li>
                                <li><a href="#infoTab/profile">Профиль</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#accessed/home" role="button" title='Выйти' aria-expanded="false">
                                <span class="glyphicon glyphicon-folder-open"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="row col-xs-12 center-block">
        </section>
        <div class="spinner hidden"></div>
        <div class="flash-message alert alert-danger animated">
            <strong></strong>
            <span class="text-message">Some stuff</span>
        </div>

        <footer>

        </footer>
    </body>
</html>
