<!DOCTYPE html>
<html>
    <head>
        <title>Gym App</title>
        <meta charset='UTF-8'/>
        <!--<link rel="stylesheet" href="css-libs.css" />
        <link rel="stylesheet" href="compass.css" />-->
        <%= stylesheet_link_tag 'application', media: 'all' %>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <%= javascript_include_tag 'application' %>
        <!--<script src="client.js"></script>-->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <%= csrf_meta_tags %>
        <template id="signin">
            <form class="form-horizontal slide-down">
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-6">
                        <input type="email" name='email' class="form-control input-lg" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>

                    <div class="col-sm-6">
                        <input type="password" name='password' class="form-control input-lg" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Запам'ятати мене
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <button class="btn btn-lg btn-success">Увійти</button>
                        <button class="btn btn-lg btn-default cancel">Вiдмiнити</button>
                    </div>
                </div>
            </form>
        </template>
        <template id="register">
            <form class="form-horizontal slide-down">
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>

                    <div class="col-sm-6">
                        <input type="email" name='email' class="form-control input-lg" placeholder="Email"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>

                    <div class="col-sm-6">
                        <input type="password" name='password' class="form-control input-lg" placeholder="Password"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>

                    <div class="col-sm-6">
                        <input type="password" name='password_confirmation' class="form-control input-lg" placeholder="Password"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Запам'ятати мене
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <button class="btn btn-lg btn-success">Зареструватися</button>
                        <button class="btn btn-lg btn-default cancel">Вiдмiнити</button>
                    </div>
                </div>
            </form>
        </template>
        <template id="home">
            <a href='#infoTab/getting-started' class="getting-started col-xs-2" title="Інструкція по роботі з програмою">Инструкция</a>
            <a href='#infoTab/my-phis-state' class="my-phis-state col-xs-2">Физ состояние</a>
            <a href='#infoTab/info-resources' class="info-resources col-xs-2">Ифнорм. ресурс</a>
            <a href='#infoTab/recommendations' class="recommendations col-xs-2">Рекомендации</a>
            <a href='#infoTab/you-should-know' class="you-should-know col-xs-2">Вы должны знать</a>
            <a href='#infoTab/complex-self-improving' class="complex-self-improving col-xs-2">Селф импрув</a>
            <a href='#infoTab/notebook-for-exercices' class="notebook-for-exercices col-xs-2">Дневник</a>
        </template>
        <template id="profile">
            <form class="form-group col-xs-6 col-xs-offset-3">
                <div class="form-group">
                    <input class="form-control input-lg" name='lastName' placeholder="Прізвище"/>
                </div>
                <div class="form-group">
                    <input class="form-control input-lg" name='firstName' placeholder="Ім'я"/>
                </div>
                <div class="form-group">
                    <input class="form-control input-lg" name='surname' placeholder="По батькові"/>
                </div>
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="gender" value="male" checked/>
                            Чоловік
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="gender" value="female"/>
                            Дівчина
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control input-lg" name='school' placeholder="Школа"/>
                </div>
                <div class="form-group">
                    <input class="form-control input-lg" name='group' placeholder="Клас"/>
                </div>
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="household" value="full" checked/>
                            повна
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="household" value="incomplete"/>
                            неповна
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="household" value="orphan"/>
                            сирота
                        </label>
                    </div>
                </div>
                <button class="btn btn-lg btn-success save">Зберегти</button>
                <button class="btn btn-lg btn-default cancel">Відмінити</button>
            </form>
        </template>
        <template id="getting-started">
            <p class="lead">
                <mark>Основна мета</mark> запропонованої програми самостійних занять спрямована на підвищення інтересу та мотиваційних
                пріоритетів до самостійної діяльності школярів, збереження стану здоров'я, підтримки високого рівня фізичної
                й розумової роботоздатності.
                Розроблена програмасамостійних занять з фізичного виховання для старшокласників виконує ряд функцій:
            </p>
            <ul class="lead">
                <li>навчальна (опрацювання першоджерел, що сприяє більш глибокому осмисленню вже засвоєних знань з
                    самостійної роботи);
                </li>
                <li>пізнавальна (опанування новими знаннями, в області самостійних занять з фізичного виховання);</li>
                <li>коригуюча (осмислення новітніх теорій, концепцій, категорій, підходів до визначення суті відомих понять
                    самостійної діяльності);
                </li>
                <li>стимулююча (така організація самостійної роботи, в ході якої старшокласник отримує задоволення від
                    результатів пізнавальної діяльності);
                </li>
                <li>виховна (спрямована на формування в особистості школяра самовиховання, самоцілеспрямованості,
                    відповідальності, самодисциплінованості);
                </li>
                <li>розвиваюча (спрямована на розвиток самостійності, творчості, дослідницьких вмінь школяра).</li>
                <li>Розроблена комп’ютерна програма дозволяє здійснювати контроль, за наданням теоретичних відомостей та
                    відповідного навантаження до організації та проведення самостійних занять з фізичного виховання виходячи
                    з інтересів та мотивів до занять фізичними вправами, рівня фізичного розвитку, фізичної підготовленості,
                    соматичного здоров'я та рухової активності дітей старшого шкільного віку. Програма побудована таким
                    чином, що дозволяє легко користуватися нею дітям старшого шкільного віку.
                </li>
            </ul>
        </template>
        <template id="my-phis-state">
            <aside class="btn-group-vertical col-xs-3" role="group" >
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="#infoTab/my-phis-state/body-index">Індекс маси тіла</a>
                    </li>
                    <li>
                        <a href='#infoTab/my-phis-state/physical-state'>Физичний розвиток</a>
                    </li>
                    <li>
                        <a href='#infoTab/my-phis-state/shoulder-index'>Плечовий індекс та постава</a>
                    </li>
                    <li>
                        <a href='#infoTab/my-phis-state/physical-preparedness'>Фізична підготовленіст</a>
                    </li>
                    <li>
                        <a href='#infoTab/my-phis-state/physical-health'>Фізичне здоров’я по Г.Л. Апанасенко</a>
                    </li>
                    <li>
                        <a href='#infoTab/my-phis-state/motor-activity'>Рухова активність</a>
                    </li>
                    <li>
                        <a href='#infoTab/my-phis-state/definition'>Визначення калорійності</a>
                    </li>
                </ul>
            </aside>
            <div class="form-container col-xs-7"></div>
        </template>
        <template id="info-resources">info-resources</template>
        <template id="recommendations">recommendations</template>
        <template id="you-should-know">you-should-know</template>
        <template id="complex-self-improving">complex-self-improving</template>
        <template id="notebook-for-exercices">notebook-for-exercices</template>

        <template id="definition">definition</template>
        <template id="motor-activity">
            <fieldset>
                <legend>Карта реєстрації рухової активності</legend>
            </fieldset>
            <table class="motor-activity table table-striped table-hover">
                <thead>
                    <th>Час початку діяльності</th>
                    <th colspan="2">Загальний зміст діяльності</th>
                    <th>Тривалість діяльності</th>
                    <th>Рівень руховоі активності</th>
                    <th>
                        <span class="glyphicon glyphicon-plus"></span>
                    </th>
                </thead>
                <tbody class="activities"></tbody>
            </table>
            <button class="btn btn-primary form-control">Розрахувати</button>
            <fieldset>
                <legend>Отриманий результат:</legend>
            </fieldset>
            <table class="table table-striped table-hover">
                <thead>
                    <th colspan="2">Рівень рухової активності</th>
                    <th colspan="2">Загальна кількість часу (год.,хв.)</th>
                    <th colspan="2">Відсоток на добу (%)</th>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">Базовий рівень</td>
                        <td colspan="2" name="basic-count"></td>
                        <td colspan="2" name="basic-percent"></td>
                    </tr>
                    <tr>
                        <td colspan="2">Сидячий рівень</td>
                        <td colspan="2" name="sitting-count"></td>
                        <td colspan="2" name="sitting-percent"></td>
                    </tr>
                    <tr>
                        <td colspan="2">Малий рівень</td>
                        <td colspan="2" name="small-count"></td>
                        <td colspan="2" name="small-percent"></td>
                    </tr>
                    <tr>
                        <td colspan="2">Середній рівень</td>
                        <td colspan="2" name="middle-count"></td>
                        <td colspan="2" name="middle-percent"></td>
                    </tr>
                    <tr>
                        <td colspan="2">Високий рівень </td>
                        <td colspan="2" name="high-count"></td>
                        <td colspan="2" name="high-percent"></td>
                    </tr>
                </tbody>
            </table>
            <svg width="50" height="50">
                <circle></circle>
                <circle></circle>
                <circle></circle>
                <circle></circle>
                <circle></circle>
            </svg>
        </template>
        <template id="activity-row">
            <td>
                <input class="form-control" name="startData" />
            </td>
            <td colspan="2">
                <input class="form-control" name="description" />
            </td>
            <td>
                <input class="form-control" name="activityPeriod" />
            </td>
            <td>
                <input class="form-control" name="activityLevel" />
            </td>
            <td>
                <span class="glyphicon glyphicon-remove"></span>
            </td>
        </template>
        <template id="physical-health">
            <input name='hight' class="form-control" placeholder="Зріст, см" />
            <input name='weight' class="form-control" placeholder="Вага, кг" />
            <input name='circumference' class="form-control" placeholder="Окружність грудноі клітки, см" />
            <input name='volume' class="form-control" placeholder="Життєва ємність легенів, мл" />
            <button class="btn btn-primary form-control">Розрахувати</button>
            <fieldset>
                <legend>Результати</legend>
                <input name='bodyindex' class="form-control" placeholder="Індекс маси тіла" />
                <input name='lifeindex' class="form-control" placeholder="Життєвий індекс" />
            </fieldset>
        </template>
        <template id="physical-preparedness">phys prepar</template>
        <template id="body-index">
            <fieldset>
                <legend>Введіть дані</legend>
                <input class="form-control" name="weight" placeholder="Вага, кг" />
                <input class="form-control" name="height" placeholder="Зріст, см"/>
            </fieldset>
            <fieldset>
                <legend>Результати</legend>
                <input name='bodyindex' class="form-control" placeholder="Індекс маси тіла" />
                <button class="btn btn-primary form-control">Зберегти</button>
            </fieldset>
            <fieldset>
                <legend>Класифікація</legend>
            </fieldset>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="7">Класифікація маси тіла і частота виникнення хронічних інфекційних захворювань</th>
                    </tr>
                    <tr>
                        <th rowspan="2">Класифікація</th>
                        <th rowspan="2">ІМТ, кг/м<sup>2</sup></th>
                        <th colspan="3">Ймовірність розвитку захворювань</th>
                    </tr>
                    <tr>
                        <th>Серцево судинних</th>
                        <th>Бронхо-легеневих</th>
                        <th>Ендокринних</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-im-range="{ min: 0, max: 18.5 }">
                        <td>Недостатня маса</td>
                        <td>менше 18.5</td>
                        <td>Низька</td>
                        <td>Збільшена</td>
                        <td>Низька</td>
                    </tr>
                    <tr data-im-range="{ min: 18.5, max: 24.9 }">
                        <td>Норма</td>
                        <td>18.5-24.9</td>
                        <td>Низька</td>
                        <td>Низька</td>
                        <td>Низька</td>
                    </tr>
                    <tr data-im-range="{ min: 25, max: 29.9 }">
                        <td>Передожиріння (гладкість)</td>
                        <td>25.0-29.9</td>
                        <td>Середня</td>
                        <td>Низька</td>
                        <td>Низька</td>
                    </tr>
                    <tr data-im-range="{ min: 30.0, max: 34.9 }">
                        <td>Ожиріння I ступеня</td>
                        <td>30.0-34.9</td>
                        <td>Збільшена</td>
                        <td>Низька</td>
                        <td>Середня</td>
                    </tr>
                    <tr data-im-range="{ min: 35, max: 39.9 }">
                        <td>Ожиріння II ступеня</td>
                        <td>35.0-39.9</td>
                        <td>Значно збільшена</td>
                        <td>Можливо збільшена</td>
                        <td>Збільшена</td>
                    </tr>
                    <tr data-im-range="{ min: 40, max: 200 }">
                        <td>Ожиріння III ступеня</td>
                        <td>більше 40.0</td>
                        <td>Істотно збільшена</td>
                        <td>Збільшена</td>
                        <td>Значно або істотно збільшена</td>
                    </tr>
                </tbody>
            </table>
        </template>
        <template id="shoulder-index">
            <fieldset class="form-group body-index">
                <h3>
                    <span name="lastName"></span>
                    <span name="firstName"></span>
                    <span name="surname"></span>
                    (<span name="gender"></span>)
                </h3>
                <fieldset>
                    <input name="age" class="form-control" type="text" placeholder="Вiк" />
                    <input name="date" class="form-control" type="text" placeholder="Дата" />
                </fieldset>
                <fieldset>
                    <legend>Показники</legend>
                    <input name='shoulder' class="form-control" placeholder="Плечова дуга, см" />
                    <input name='shoulderWidth' class="form-control" placeholder="Ширина плечей, см" />
                    <button class="btn btn-primary form-control">Розрахувати</button>
                </fieldset>
                <fieldset>
                    <legend>Результати</legend>
                    <input name='brachialIndex' class="form-control" placeholder="Плечовий індекс" />
                </fieldset>
            </fieldset>
        </template>
        <template id="physical-state">
            <fieldset class="form-group body-index">
                <h3>
                    <span name="lastName"></span>
                    <span name="firstName"></span>
                    <span name="surname"></span>
                    (<span name="gender"></span>)
                </h3>
                <fieldset>
                  <input name="age" class="form-control" type="text" placeholder="Вiк" />
                  <input name="date" class="form-control" type="text" placeholder="Дата" />
                </fieldset>
                <fieldset>
                    <legend>Показники</legend>
                    <input name='hight' class="form-control" placeholder="Зріст, см" />
                    <input name='weight' class="form-control" placeholder="Вага, кг" />
                    <input name='circumference' class="form-control" placeholder="Окружність грудноі клітки, см" />
                    <input name='volume' class="form-control" placeholder="Життєва ємність легенів, мл" />
                    <button class="btn btn-primary form-control">Розрахувати</button>
                </fieldset>
                <fieldset>
                    <legend>Результати</legend>
                    <input name='bodyindex' class="form-control" placeholder="Індекс маси тіла" />
                    <input name='lifeindex' class="form-control" placeholder="Життєвий індекс" />
                </fieldset>
            </fieldset>
        </template>

    </head>

    <body class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#accessed/home">Brand</a>
                </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span
                                    class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#accessed/signin">Логин</a></li>
                                <li><a href="#register">Регистрация</a></li>
                                <li class="divider"></li>
                                <li><a href="#infoTab/profile">Профиль</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#accessed/home" role="button" title='Выйти' aria-expanded="false">
                                <span class="glyphicon glyphicon-folder-open"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="row col-xs-12 center-block">
        </section>
        <div class="spinner hidden"></div>
        <div class="flash-message alert alert-danger animated">
            <strong></strong>
            <span class="text-message">Some stuff</span>
        </div>

        <footer>

        </footer>
    </body>
</html>